@model BoyaKod
<!--begin::Form-->
<form id="BoyaKodForm">
    @Html.HiddenFor(x=>x.BoyaKodId)
    <div class="form-group row">
        <div class="col-lg-12">
            <label>Tür:</label>
            <select class="form-control">
                <option>Tür seçin</option>
                @{ 
                    int boyakodId = Model?.BoyaKodTypeId != null ? Model.BoyaKodTypeId : 0;
                }
                @foreach (var tur in BaseBoyaKodType().ToList())
                {
                    var attr = tur.BoyaKodTypeId == boyakodId ? "selected" : "";
                    <option @attr value="@tur.BoyaKodTypeId">@tur.Type</option>
                }
            </select>
        </div>
        <div class="col-lg-12">
            <label>açıklama:</label>
            @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
        </div>

        <div class="col-lg-12">
            <label>Kod:</label>
            @Html.TextBoxFor(x => x.Kod, new { @class = "form-control" })
        </div>
    </div>
</form>
<!--end::Form-->
