@using EgePakErp.Enums;

@model Kalip
@{
    string type = ViewBag.MaliyetType;
    Kalip kalip = Model;
    List<HammaddeHareket> hareketler = ViewBag.HamMaddeHareket;
    var hammaddeCinsleri = Model.KalipHammaddeRelation.Select(i => i.HammaddeCinsi);
    int _uretimUrunID = ViewBag.urunId;

    Urun UretimUrun = baseUrun.FirstOrDefault(x => x.UrunId == _uretimUrunID);
}

@if (type == "hammadde")
{

    var hammaddeCinsi = kalip.KalipHammaddeRelation.Select(i => i.HammaddeCinsi).FirstOrDefault();
    var son12AyHammaddeHareket = hammaddeCinsi?.HammaddeHareket.Where(i => i.HammaddeGirisTarihi > DateTime.Now.AddYears(-1)).OrderByDescending(i => i.HammaddeHareketId).ToList();
    var sonHammaddeHareket = hammaddeCinsi?.HammaddeHareket.OrderByDescending(i => i.HammaddeHareketId).FirstOrDefault();
    decimal sonFaturaBirimFiyat = 0;

    //son faturayı kontrol et
    try
    {
        sonFaturaBirimFiyat = sonHammaddeHareket.BirimFiyat;
    }
    catch
    {
        sonFaturaBirimFiyat = 0;
    }

    decimal? son1AyOrtalamaBirimFiyat = null;
    decimal? son3AyOrtalamaBirimFiyat = null;
    decimal? son6AyOrtalamaBirimFiyat = null;
    decimal? son12AyOrtalamaBirimFiyat = null;


    try
    {
        son1AyOrtalamaBirimFiyat = son12AyHammaddeHareket.Where(x => x.HammaddeCinsiId != null && x.KayitTarihi >= DateTime.Now.AddMonths(-1)).GroupBy(x => new { x.HammaddeCinsiId }, (key, group) => new
        {
            HammaddeCinsiId = key.HammaddeCinsiId,
            Ortalama = group.Average(x => x.BirimFiyat)
        })?.FirstOrDefault(x => x.HammaddeCinsiId == hammaddeCinsi.HammaddeCinsiId)?.Ortalama;
    }
    catch (Exception ex)
    {

    }

    if (son1AyOrtalamaBirimFiyat == null)
    {
        son1AyOrtalamaBirimFiyat = sonFaturaBirimFiyat;
    }


    try
    {
        son3AyOrtalamaBirimFiyat = son12AyHammaddeHareket.Where(x => x.KayitTarihi >= DateTime.Now.AddMonths(-3)).GroupBy(x => new { x.HammaddeCinsiId }, (key, group) => new
        {
            HammaddeCinsiId = key.HammaddeCinsiId,
            Ortalama = group.Average(x => x.BirimFiyat)
        }).FirstOrDefault(x => x.HammaddeCinsiId == hammaddeCinsi.HammaddeCinsiId)?.Ortalama;

    }
    catch (Exception ex)
    {

    }

    if (son3AyOrtalamaBirimFiyat == null)
    {
        son3AyOrtalamaBirimFiyat = sonFaturaBirimFiyat;
    }


    try
    {
        son6AyOrtalamaBirimFiyat = son12AyHammaddeHareket.Where(x => x.KayitTarihi >= DateTime.Now.AddMonths(-6)).GroupBy(x => new { x.HammaddeCinsiId }, (key, group) => new
        {
            HammaddeCinsiId = key.HammaddeCinsiId,
            Ortalama = group.Average(x => x.BirimFiyat)
        }).FirstOrDefault(x => x.HammaddeCinsiId == hammaddeCinsi.HammaddeCinsiId)?.Ortalama;

    }
    catch (Exception ex)
    {

    }

    if (son6AyOrtalamaBirimFiyat == null)
    {
        son6AyOrtalamaBirimFiyat = sonFaturaBirimFiyat;
    }


    try
    {
        son12AyOrtalamaBirimFiyat = son12AyHammaddeHareket.Where(x => x.KayitTarihi >= DateTime.Now.AddMonths(-12)).GroupBy(x => new { x.HammaddeCinsiId }, (key, group) => new
        {
            HammaddeCinsiId = key.HammaddeCinsiId,
            Ortalama = group.Average(x => x.BirimFiyat)
        }).FirstOrDefault(x => x.HammaddeCinsiId == hammaddeCinsi.HammaddeCinsiId)?.Ortalama;

    }
    catch (Exception ex)
    {

    }


    if (son12AyOrtalamaBirimFiyat == null)
    {
        son12AyOrtalamaBirimFiyat = sonFaturaBirimFiyat;
    }



    var birimFiyat = sonHammaddeHareket?.BirimFiyat;
    var FireOran = kalip.KalipHammaddeRelation.Select(i => i.HammaddeCinsi).FirstOrDefault().HammaddeFire?.Oran;
    FireOran = (100 + FireOran) / 100;
    decimal? birimMaliyet = birimFiyat != null ? ((birimFiyat * (decimal)FireOran) / 1000) * kalip.ParcaAgirlik : 0;

    <div class="form-group row parentDiv" UrunType="hammadde">
        <div class="col-lg-12 mb-2">
            <label>Hammadde Cinsi:</label>
            <select class="form-control" id="HammaddeSelect">

                @foreach (var item in kalip.KalipHammaddeRelation.Select(i => i.HammaddeCinsi))
                {
                    <option id="@item.HammaddeCinsiId" FireOran="@item.HammaddeFire.Oran">@item.Adi</option>
                }
            </select>
        </div>
        <div class="col-lg-12 mb-2">
            <label>Birim Fiyat Tipi:</label>
            <select class="form-control" id="FiyatOrtalamaSelect" UrunType="hammadde">
                <option value="@(sonHammaddeHareket?.BirimFiyat.ToString("n2"))">Son Fatura Birim Fiyat( @(sonHammaddeHareket?.BirimFiyat.ToString("n2")) )</option>
                <option value="@son1AyOrtalamaBirimFiyat.Value.ToString("n2")">Son 1 Ay Ortalaması ( @son1AyOrtalamaBirimFiyat.Value.ToString("n2") )</option>
                <option value="@son3AyOrtalamaBirimFiyat.Value.ToString("n2")">Son 3 Ay Ortalaması ( @son3AyOrtalamaBirimFiyat.Value.ToString("n2") )</option>
                <option value="@son6AyOrtalamaBirimFiyat.Value.ToString("n2")">Son 6 Ay Ortalaması ( @son6AyOrtalamaBirimFiyat.Value.ToString("n2"))</option>
                <option value="@son12AyOrtalamaBirimFiyat.Value.ToString("n2")">Son 12 Ay Ortalaması ( @son12AyOrtalamaBirimFiyat.Value.ToString("n2") )</option>
            </select>
        </div>
        <div class="col-lg-12 mb-2">
            <label>Birim Fiyat:</label>
            <input type="text" class="form-control hesaplama" id="BirimFiyat" value="@birimFiyat" />
            <span class="form-text text-muted">TL/KG</span>

            <div class="form-group">
                <label>Mamül Ağırlık:</label>
                <input type="text" class="form-control hesaplama" id="kalipAgirlik" value="@kalip.ParcaAgirlik" />
            </div>

            <div class="form-group">
                <label>Fire Oranı(%):</label>
                @{
                    double fireOran = 0;
                    var fire = kalip.KalipHammaddeRelation?.Select(i => i.HammaddeCinsi).FirstOrDefault()?.HammaddeFire;
                    if (fire != null)
                    {
                        fireOran = fire.Oran;
                    }
                }
                <input type="text" class="form-control hesaplama" id="fireOran" value="@fireOran" />
            </div>

            <div class="form-group">
                <label>Birim Maliyet:</label>
                <input kalipId="@kalip.KalipId" type="text" class="form-control Fiyat" value="@birimMaliyet.Value.ToString("N3")" />
                <span class="form-text text-muted">( (Birim Fiyat * Fire Oranı) / 1000) * Mamül Ağırlık</span>
            </div>
        </div>
    </div>
}

@if (type == "tozBoya")
{
    try
    {
        var sabit = 0.0012M;
        decimal KalipAgirlik = (decimal)kalip.ParcaAgirlik;
        decimal BoyaBirimFiyat = TozBoyaSonBirimFiyat();
        decimal Maliyet = sabit * KalipAgirlik * (BoyaBirimFiyat / 1000);

        <td tozBoya-cikar="@Model.KalipId">
            <div class="form-group row parentDiv" UrunType="tozBoya">
                <div class="col-lg-12 mb-2">
                    <label>Mamül Ağırlık</label>
                    <input type="text" class="form-control hesaplama" id="KalipAgirlik" value="@KalipAgirlik.ToString("n2")" />
                </div>
                @*<div class="col-lg-12 mb-2">
                        <label>Kullanılan Boya Miktarı</label>
                        <input type="text" class="form-control hesaplama" id="BoyaMiktar" value="@KullanilanBoyaMiktar.ToString("n2")" />
                        <span class="form-text text-muted">( 12 / 1000 ) * Mamül Ağırlık</span>
                    </div>*@
                <div class="col-lg-12 mb-2">
                    <label>Boya Birim Fiyat</label>
                    <input type="text" class="form-control hesaplama" id="BirimFiyat" value="@BoyaBirimFiyat" />
                </div>

                <div class="col-lg-12 mb-2">
                    <label>bir adet için üretim maliyeti:</label>
                    <input kalipId="@Model.KalipId" type="text" class="form-control Fiyat" value="@Maliyet.ToString("n4")" />
                    <span class="form-text text-muted">0,0012 * Mamül Ağırlık * (Birim Fiyat / 1000)</span>
                </div>

                <div class="col-lg-12 mb-2">
                    <label>Boya Kodu:</label>
                    @{
                        var kodListe = BaseBoyaKod().ToList();
                        <select class="form-control" id="boyaKodSelect">
                            <option>Kod seçin</option>
                            @foreach (var kod in kodListe)
                            {
                                <option value="@kod.BoyaKodId">@kod.Kod</option>
                            }
                        </select>

                    }
                </div>


            </div>
        </td>
    }
    catch (Exception ex)
    {

    }
}

@if (type == "koli")
{
    <tr>
        <td koli-cikar="@kalip.KalipId">
            <div class="form-group row parentDiv" UrunType="koli">
                <div class="col-lg-12 mb-2">
                    <label>Bant :</label>
                    <select class="form-control" id="BantSelect">
                        @foreach (var bant in BaseHammaddeHareketler("bant"))
                        {
                            <option value="@bant.BirimFiyat">@bant.UrunAdi - (@bant.BirimFiyat @bant.Doviz.Kisaltma)</option>
                        }
                    </select>
                </div>
                <div class="col-lg-12 mb-2">
                    <label>Koli Türü:</label>
                    <select class="form-control" id="KoliBirimFiyat">
                        @{
                            var koliTur = "2"; //genel koli
                            if (UretimUrun.UrunCinsi.Kisaltmasi.ToLower() == "kv")
                            {
                                koliTur = "1";
                            }
                            var KoliTurler = BaseKoliTur(koliTur);
                            decimal sabit = KoliTurler.FirstOrDefault().KatSayi;


                            HammaddeHareket sonHareket = KoliHareketler().FirstOrDefault(x => x.ExtraData == koliTur);

                            decimal BantSonFiyat = BaseHammaddeHareketler("bant").OrderByDescending(x => x.HammaddeGirisTarihi).FirstOrDefault().BirimFiyat;
                            var birimFiyat = sonHareket?.BirimFiyat;


                            var Kapasite = !string.IsNullOrEmpty(kalip.KoliIciAdet) ? Convert.ToInt32(kalip.KoliIciAdet) : 0;
                            decimal? birimMaliyet;
                            if (Kapasite != 0)
                            {
                                birimMaliyet = birimFiyat != null ? (BantSonFiyat * sabit + birimFiyat) / Kapasite : 0;
                            }
                            else
                            {
                                birimMaliyet = 0;
                            }

                            string PosetParametre = ViewBag.PosetParametre;
                            var _list = BaseSarfMalzeme().Where(x => x.UrunAdi.ToLower().Contains("koli") && x.ExtraData == koliTur).ToList();
                            decimal Katsayi = 0.03M;
                            if (UretimUrun.UrunCinsi.Kisaltmasi.ToLower() == "kv")
                            {
                                Katsayi = 0.04M;
                            }

                        }

                        @foreach (var item in _list)
                        {
                            if (item.UrunAdi.Contains(" 60*40*40 "))
                            {
                                PosetParametre = "0.060";
                                Katsayi = 0.04M;
                            }
                            else if (item.UrunAdi.Contains("43*34*30"))
                            {
                                PosetParametre = "0.036";
                                Katsayi = 0.03M;
                            }
                            <option value="@item.BirimFiyat" posetParametre="@PosetParametre" Katsayi="@Katsayi">@(item.UrunAdi) (@item.BirimFiyat)</option>
                        }
                    </select>
                </div>
                <div class="col-lg-12 mb-2">
                    <label>Birim Fiyat:</label>
                    <input type="text" class="form-control hesaplama" id="BirimFiyat" value="@birimFiyat" disabled />
                </div>
                <input type="hidden" id="posetParametre" targetInputId="PosetParametre_@Model.KalipId" value="@PosetParametre" />

                <div class="col-lg-12 mb-2">
                    <label>Katsayı:</label>
                    <input type="text" class="form-control hesaplama" id="KoliKatsayi" value="@Katsayi" />
                </div>

                @*<div class="col-lg-12 mb-2">
                        <label>Mamül Ağırlık:</label>
                        <input type="text" class="form-control" id="KalipAgirlik" value="@kalip.ParcaAgirlik" disabled />
                    </div>*@
                <div class="col-lg-12 mb-2">
                    <label>Koli Kapasitesi:</label>
                    <input type="text" class="form-control hesaplama" id="Kapasite" value="@kalip.KoliIciAdet" />
                </div>
                <div class="col-lg-12 mb-2">
                    <label>Birim Maliyet:</label>
                    <input kalipId="@Model.KalipId" type="text" class="form-control Fiyat" value="@birimMaliyet.Value.ToString("N5")" />
                    <span class="form-text text-muted">(BantFiyat * Katsayi + BirimFiyat) / Kapasite</span>
                </div>
            </div>
        </td>
    </tr>
}

@if (type == "poset")
{
    <div class="form-group row parentDiv" UrunType="poset">
        <div class="col-lg-12 mb-2">
            <label>Poşet Türü:</label>
            <select class="form-control" id="PosetBirimFiyat">
                @foreach (var item in BaseSarfMalzeme().Where(x => x.UrunAdi.ToLower().Contains("poşet")))
                {
                    <option value="@item.BirimFiyat">@(item.UrunAdi) (@item.BirimFiyat)</option>
                }
            </select>
        </div>
        <div class="col-lg-12 mb-2">
            @{
                decimal Katsayi = 0.036M;
                int Kapasite = 0;
                if (!string.IsNullOrEmpty(kalip.KoliIciAdet))
                {
                    Kapasite = Convert.ToInt32(kalip.KoliIciAdet);
                }
                if (UretimUrun.UrunCinsi.Kisaltmasi.ToLower() == "kv")
                {
                    Katsayi = 0.06M;
                }
                decimal? birimFiyat = ViewBag.PosetSonBirimFiyat;

                decimal? birimMaliyet = birimFiyat != null ? (birimFiyat * Katsayi) / Kapasite : 0;
            }
            <label>Birim Fiyat:</label>
            <input type="text" class="form-control hesaplama" id="BirimFiyat" value="@birimFiyat" disabled />
        </div>

        <div class="col-lg-12 mb-2">
            <label>Katsayı:</label>
            <input type="text" class="form-control hesaplama" value="@Katsayi" id="PosetKatsayi" />
        </div>

        <div class="col-lg-12 mb-2">
            <label>Peşet Kapasitesi:</label>
            <input type="text" class="form-control" id="Kapasite" value="@Kapasite" />
        </div>

        <div class="col-lg-12 mb-2">
            <label>Birim Maliyet:</label>
            <input kalipId="@kalip.KalipId" type="text" class="form-control Fiyat" value="@birimMaliyet.Value.ToString("N4")" />
            <span class="form-text text-muted">(Birim Fiyat * @Katsayi) / @Kapasite</span>
        </div>

    </div>
}

@if (type == "yaldiz")
{
    <tr>
        @{
            List<HammaddeHareket> Malzemeler = YaldizMalzemeListe();

            double BirimFiyat = Convert.ToDouble(Malzemeler.FirstOrDefault()?.BirimFiyat);
            var birim = Malzemeler.FirstOrDefault()?.TableHammaddeBirim?.Birimi;
            var Bolum = 10000;
            if (birim.ToLower() == "rulo")
            {
                Bolum = 744200;
            }

            var yaldiz = kalip.Yaldiz;
            int sabit = 0;
            if (yaldiz != null && yaldiz != "")
            {
                sabit = Convert.ToInt32(yaldiz);
            }

            double Maliyet = (BirimFiyat * Convert.ToInt32(sabit)) / Bolum;
        }
        <td yaldiz-cikar="@kalip.KalipId">
            <div class="parentDiv" UrunType="yaldiz">
                <div class="col-lg-12 mb-2">
                    <label>Malzeme:</label>
                    <select class="form-control" id="yaldizSelect">
                        @foreach (var item in Malzemeler)
                        {
                            <option birim="@item.TableHammaddeBirim.Birimi" value="@item.BirimFiyat">@item.UrunAdi ( @item.BirimFiyat TL - @item.TableHammaddeBirim.Birimi)</option>
                        }
                    </select>

                </div>
                <div class="col-lg-12 mb-2">
                    @{
                        var yaldizListe = BaseYaldiz().ToList();
                    }

                    <label>Yaldiz Seç:</label>
                    <select class="form-control form-control-solid selectpicker" id="YaldizId">
                        <option>yaldız seç</option>
                        @foreach (var item in yaldizListe)
                        {
                            <option value="@item.YaldizId">@item.Aciklama</option>
                        }
                    </select>

                </div>
                <div class="col-lg-12 mb-2">
                    <label>Birim Fiyat:</label>
                    <input type="text" class="form-control hesaplama" id="BirimFiyat" value="@BirimFiyat.ToString("n2")" disabled />
                </div>
                <div class="col-lg-12 mb-2">
                    <label>Kat Sayı:</label>
                    <input type="text" class="form-control hesaplama" id="KatSayi" value="@sabit" />
                </div>
                <div class="col-lg-12 mb-2">
                    <label>Birim Maliyet:</label>
                    <input kalipId="@kalip.KalipId" type="text" class="form-control Fiyat" YaldizId="0" value="@Maliyet.ToString("n2")" />
                    <span class="form-text text-muted">(BirimFiyat * Kat Sayı) / <span id="yaldizSabit">@Bolum</span></span>
                </div>

            </div>

        </td>
    </tr>
}

@if (type == "enjeksiyon")
{
    try
    {
        var uretimSabit = BaseUretimSabitler().FirstOrDefault(x => x.Kod == (int)EUretimSabitler.EnjeksiyonMakinaPersonelSaati).Maliyet;
        double enjeksiyonSaatMaliyet = Convert.ToDouble(uretimSabit);
        double birAdetUrunUretimMaliyeti = enjeksiyonSaatMaliyet / ((3600 / (int)kalip.UretimZamani) * (int)kalip.KalipGozSayisi);

        <div class="form-group row parentDiv" UrunType="enjeksiyon">
            <div class="col-lg-12 mb-2">
                <label>enjeksiyon saat maliyet</label>
                <input type="text" class="form-control hesaplama" id="SaatMaliyet" value="@enjeksiyonSaatMaliyet" />
            </div>
            <div class="col-lg-12 mb-2">
                <label>Üretim Süresi(sn):</label>
                <input type="text" class="form-control hesaplama" id="UretimZamani" value="@kalip.UretimZamani" disabled />
            </div>

            <div class="col-lg-12 mb-2">
                <label>Göz Sayısı:</label>
                <input type="text" class="form-control hesaplama" id="GozSayisi" value="@kalip.KalipGozSayisi" disabled />
            </div>
            <div class="col-lg-12 mb-2">
                <label>üretim maliyeti</label>
                <input kalipId="@kalip.KalipId" type="text" class="form-control Fiyat" value="@birAdetUrunUretimMaliyeti.ToString("N3")" />
                <span class="form-text text-muted">( enjeksiyon saat maliyet ) / ( (3600/üretim süresi(sn)) * göz sayısı )</span>
            </div>
        </div>

    }
    catch (Exception ex)
    {

        <div class="form-group row parentDiv" UrunType="enjeksiyon">
            <div class="col-lg-12 mb-2">
                <label>enjeksiyon saat maliyet</label>
                <input type="text" class="form-control hesaplama" id="SaatMaliyet" value="" />
            </div>
            <div class="col-lg-12 mb-2">
                <label>Üretim Süresi(sn):</label>
                <input type="text" class="form-control hesaplama" id="UretimZamani" value="@kalip.UretimZamani" disabled />
            </div>

            <div class="col-lg-12 mb-2">
                <label>Göz Sayısı:</label>
                <input type="text" class="form-control hesaplama" id="GozSayisi" value="@kalip.KalipGozSayisi" disabled />
            </div>
            <div class="col-lg-12 mb-2">
                <label>üretim maliyeti</label>
                <input kalipId="@kalip.KalipId" type="text" class="form-control Fiyat" value="0" />
                <span class="form-text text-muted">( enjeksiyon saat maliyet ) / ( (3600/üretim süresi(sn)) * göz sayısı )</span>
            </div>
        </div>

    }
}

@if (type == "sicakbaski")
{
    <tr>
        @try
        {
            var SicakBaskiTamponSaatAdet = kalip.SicakBaskiAdet;
            int adet = 0;
            double birimSicakBaskiTamponMaliyet = 0;
            double SicakBaskiTamponSaatMaliyet = 35;
            if (SicakBaskiTamponSaatAdet != null && SicakBaskiTamponSaatAdet != "")
            {
                adet = Convert.ToInt32(SicakBaskiTamponSaatAdet);
                birimSicakBaskiTamponMaliyet = SicakBaskiTamponSaatMaliyet / adet;
            }

            <td sicakBaski-cikar="@kalip.KalipId">
                <div class="form-group row parentDiv" UrunType="sicakbaski">
                    <div class="col-lg-12 mb-2">
                        <label>sıcak baskı tampon saat adet</label>
                        <input type="text" class="form-control hesaplama" id="SaatAdet" value="@adet" />
                    </div>
                    <div class="col-lg-12 mb-2">
                        <label>sıcak baskı tampon saat maliyet</label>
                        <input type="text" class="form-control hesaplama" id="SaatMaliyet" value="@SicakBaskiTamponSaatMaliyet" />
                    </div>
                    <div class="col-lg-12 mb-2">
                        <label>birim sıcak baskı tampon maliyet</label>
                        <input kalipId="@kalip.KalipId" type="text" class="form-control Fiyat" value="@birimSicakBaskiTamponMaliyet.ToString("N3")" placeholder="saat maliyet/adet" />
                        <span class="form-text text-muted">saat maliyet/adet</span>
                    </div>
                </div>

            </td>
        }
        catch (Exception ex)
        {

        }
    </tr>
}

@if (type == "montaj")
{
    <tr>
        @try
        {
            var uretimSabit = BaseUretimSabitler().FirstOrDefault(x => x.Kod == (int)EUretimSabitler.MontajPersonelSaatMaliyet).Maliyet;
            double PersonelSaatMaliyet = Convert.ToDouble(uretimSabit);
            var adet = !string.IsNullOrEmpty(kalip.EgePakMontajAdet) ? Convert.ToInt32(kalip.EgePakMontajAdet) : 0;
            double Maliyet = 0;
            if (adet != 0)
            {
                Maliyet = PersonelSaatMaliyet / adet;
            }


            <td montaj-cikar="@kalip.KalipId">
                <div class="form-group row parentDiv" UrunType="montaj">
                    <div class="col-lg-12 mb-2">
                        <label>Personel Saat Maliyet</label>
                        <input type="text" class="form-control hesaplama" id="SaatMaliyet" value="@PersonelSaatMaliyet" />
                    </div>
                    <div class="col-lg-12 mb-2">
                        <label>saatlik üretim adedi</label>
                        <input type="text" class="form-control hesaplama" id="SaatAdet" value="@adet" />
                    </div>
                    <div class="col-lg-12 mb-2">
                        <label>adet maliyeti</label>
                        <input kalipId="@kalip.KalipId" type="text" class="form-control Fiyat" value="@Maliyet.ToString("N3")" />
                        <span class="form-text text-muted">Personel Saat Maliyet / Saatlik Üretim Adedi</span>
                    </div>
                </div>

            </td>
        }
        catch (Exception ex)
        {

        }
    </tr>
}


@if (type == "baskiMakina")
{
    <tr>
        @try
        {
            int adet = 0;
            double SaatMaliyet = 0;
            double sonuc = 0;

            if (!string.IsNullOrEmpty(kalip.SicakBaskiAdet))
            {
                adet = Convert.ToInt32(kalip.SicakBaskiAdet);
                var uretimSabit = BaseUretimSabitler().FirstOrDefault(x => x.Kod == (int)EUretimSabitler.SicakBaskiTamponPersonelSaatMaliyet).Maliyet;
                SaatMaliyet = Convert.ToDouble(uretimSabit);
                sonuc = SaatMaliyet / adet;
            }

            <div class="form-group row parentDiv" UrunType="baskiMakina">
                <div class="col-lg-12 mb-2">
                    <label>adet</label>
                    <input type="text" class="form-control hesaplama" id="SaatAdet" value="@adet" />
                </div>
                <div class="col-lg-12 mb-2">
                    <label>Personel Saat Maliyet</label>
                    <input type="text" class="form-control hesaplama" id="SaatMaliyet" value="@SaatMaliyet" />
                </div>
                <div class="col-lg-12 mb-2">
                    <label>adet maliyeti</label>
                    <input kalipId="@kalip.KalipId" type="text" class="form-control Fiyat" value="@sonuc.ToString("N3")" />
                    <span class="form-text text-muted">Personel Saat Maliyet / Saatlik Üretim Adedi</span>
                </div>
            </div>
        }
        catch (Exception ex)
        {

        }
    </tr>
}



