@model List<Kalip>

<table class="table table-bordered table-hover table-sm mt-8">
    <thead>
        <tr>
            <th>Plastik Üretim</th>
            @foreach (var kalip in Model)
            {
                <th>@kalip.Adi</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Hammadde</td>
            @foreach (var kalip in Model)
            {
                <td style="display:none;">
                    @{
                        var hammaddeCinsi = kalip.KalipHammaddeRelation.Select(i => i.HammaddeCinsi).FirstOrDefault();
                        var sonHammaddeHareket = hammaddeCinsi?.HammaddeHareket.OrderByDescending(i => i.HammaddeHareketId).FirstOrDefault();
                        var birimFiyat = sonHammaddeHareket?.BirimFiyat;
                        decimal? birimMaliyet = birimFiyat != null ? (birimFiyat / 1000) * kalip.ParcaAgirlik : 0;
                    }
                </td>

                <td hammadde-cikar="@kalip.KalipId">
                    <div class="col-lg-12 mb-2">
                        <label>Birim Fiyat:</label>
                        <div class="input-group mb-5">
                            <span class="input-group-text" event="MaliyetDetay" maliyetType="hammadde" kalipId="@kalip.KalipId">
                                <i class="flaticon-mark"></i>
                            </span>
                            <input kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat" value="@birimMaliyet.Value.ToString("N2")" />
                            <span hammadde-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="hammadde" event="FaturadanCikar">
                                -
                            </span>
                        </div>
                    </div>
                </td>
            }
        </tr>
        <tr>
            <td>MasterBatch / Toz Boya</td>

            @foreach (var kalip in Model)
            {
                try
                {
                    double sabit = 12.0 / 1000.0;
                    decimal KalipAgirlik = (decimal)kalip.ParcaAgirlik;
                    decimal KullanilanBoyaMiktar = Convert.ToDecimal(sabit) * KalipAgirlik;
                    decimal BoyaBirimFiyat = ViewBag.TozBoyaSonBirimFiyat / 1000;
                    decimal Maliyet = KalipAgirlik * KullanilanBoyaMiktar * BoyaBirimFiyat;
                    <td tozBoya-cikar="@kalip.KalipId">
                        <div class="col-lg-12 mb-2">
                            <label>bir adet için üretim maliyeti</label>
                            <div class="input-group mb-5">
                                <span class="input-group-text" event="MaliyetDetay" maliyetType="tozBoya" kalipId="@kalip.KalipId">
                                    <i class="flaticon-mark"></i>
                                </span>
                                <input kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat" value="@Maliyet.ToString("n2")" />
                                <span tozBoya-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="tozBoya" event="FaturadanCikar">
                                    -
                                </span>
                            </div>
                        </div>


                    </td>
                }
                catch (Exception ex)
                {

                }

            }


        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover table-sm mt-8">
    <thead>
        <tr>
            <th>Baskı</th>
            @foreach (var kalip in Model)
            {
                <th>@kalip.Adi</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sıcak Baskı Yaldız <br />Tampon Baskı Boya</td>
            @foreach (var kalip in Model)
            {
                try
                {
                    double SicakBaskiTamponSaatAdet = 300;
                    double SicakBaskiTamponSaatMaliyet = 35;
                    double birimSicakBaskiTamponMaliyet = SicakBaskiTamponSaatMaliyet / SicakBaskiTamponSaatAdet;

                    <td sicakBaski-cikar="@kalip.KalipId">
                        <div class="col-lg-12 mb-2">
                            <label>birim sıcak baskı tampon maliyet:</label>
                            <div class="input-group mb-5">
                                <span class="input-group-text" event="MaliyetDetay" maliyetType="sicakbaski" kalipId="@kalip.KalipId">
                                    <i class="flaticon-mark"></i>
                                </span>
                                <input kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat" value="@birimSicakBaskiTamponMaliyet.ToString("N2")" />
                                <span sicakBaski-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="sicakBaski" event="FaturadanCikar">
                                    -
                                </span>
                            </div>
                        </div>
                    </td>
                }
                catch (Exception ex)
                {

                }

            }


        </tr>
        <tr>
            <td>Intercom varak Yaldız</td>
            @foreach (var kalip in Model)
            {

                List<HammaddeHareket> Malzemeler = ViewBag.BaskiMalzemeler;
                double BirimFiyat = Convert.ToDouble(Malzemeler.FirstOrDefault().BirimFiyat);
                double Maliyet = (BirimFiyat * 40) / 10000;


                <td yaldiz-cikar="@kalip.KalipId">
                    <div class="col-lg-12 mb-2">
                        <label>Intercom varak Yaldız:</label>
                        <div class="input-group mb-5">
                            <span class="input-group-text" event="MaliyetDetay" maliyetType="yaldiz" kalipId="@kalip.KalipId">
                                <i class="flaticon-mark"></i>
                            </span>
                            <input kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat" value="@Maliyet.ToString("n2")" />
                            <span yaldiz-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="yaldiz" event="FaturadanCikar">
                                -
                            </span>
                        </div>
                    </div>
                </td>

            }


        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover table-sm mt-8">
    <thead>
        <tr>
            <th>Boya Kaplama</th>
            @foreach (var kalip in Model)
            {
                <th>@kalip.Adi</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sprey Boya</td>
            @foreach (var kalip in Model)
            {
                <td sprey-cikar="@kalip.KalipId">
                    <div class="col-lg-12 mb-2">
                        <label>Maliyet:</label>
                        <div class="input-group mb-5">
                            <input kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat" value="0" />
                            <span sprey-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="sprey" event="FaturadanCikar">
                                -
                            </span>
                        </div>
                    </div>
                </td>
            }
        </tr>
        <tr>
            <td>Metalize Kaplama</td>
            @foreach (var kalip in Model)
            {
                <td metalize-cikar="@kalip.KalipId">
                    <div class="col-lg-12 mb-2">
                        <label>Maliyet:</label>
                        <div class="input-group mb-5">
                            <input kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat" value="" />
                            <span metalize-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="metalize" event="FaturadanCikar">
                                -
                            </span>
                        </div>
                    </div>
                </td>
            }
        </tr>




    </tbody>
</table>

<table class="table table-bordered table-hover table-sm mt-8">
    <thead>
        <tr>
            <th>Ambalaj</th>
            @foreach (var kalip in Model)
            {
                <th>@kalip.Adi</th>
            }
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Koli + Koli Bandı</td>
            @foreach (var kalip in Model)
            {
                HammaddeHareket sonHareket = ViewBag.KoliSonHareket;
                var birimFiyat = sonHareket?.BirimFiyat;

                decimal? birimMaliyet = birimFiyat != null ? (birimFiyat / 1500) : 0;

                <input id="PosetParametre_@kalip.KalipId" type="hidden" value="0"/>
                <td koli-cikar="@kalip.KalipId">
                    <div class="col-lg-12 mb-2">
                        <label>Birim Fiyat:</label>
                        <div class="input-group mb-5">
                            <span class="input-group-text" event="MaliyetDetay" maliyetType="koli" kalipId="@kalip.KalipId">
                                <i class="flaticon-mark"></i>
                            </span>
                            <input kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat" value="@birimMaliyet.Value.ToString("N2")" />
                            <span koli-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="koli" event="FaturadanCikar">
                                -
                            </span>
                        </div>
                    </div>
                </td>

            }
        </tr>
        <tr>
            <td>Poşet + Seperator</td>
            @foreach (var kalip in Model)
            {
                var birimFiyat = ViewBag.PosetSonBirimFiyat;
                decimal? birimMaliyet = birimFiyat != null ? (birimFiyat / 1500) * kalip.ParcaAgirlik : 0;
                
                <td poset-cikar="@kalip.KalipId">
                    <div class="col-lg-12 mb-2">
                        <label>Birim Fiyat:</label>
                        <div class="input-group mb-5">
                            <span class="input-group-text" event="MaliyetDetay" maliyetType="poset" kalipId="@kalip.KalipId">
                                <i class="flaticon-mark"></i>
                            </span>
                            <input kalipId="@kalip.KalipId" mamulType="poset" type="text" class="form-control birimFiyat" value="@birimMaliyet.Value.ToString("N4")" />
                            <span poset-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="poset" event="FaturadanCikar">
                                -
                            </span>
                        </div>
                    </div>
                </td>
            }
        </tr>
    </tbody>
</table>


<table class="table table-bordered table-hover table-sm mt-8">
    <thead>
        <tr>
            <th>Üretim Maliyeti</th>
            @foreach (var kalip in Model)
            {
                <th>@kalip.Adi</th>
            }
        </tr>
    </thead>
    <tbody id="MaliyetTablo">
        <tr>
            <td>Enjeksiyon - Şişirme <br /> Makine Saati</td>
            @foreach (var kalip in Model)
            {
                try
                {
                    double enjeksiyonSaatMaliyet = 100;
                    double birAdetUrunUretimMaliyeti = (3600 / (int)kalip.UretimZamani) * (int)kalip.KalipGozSayisi / enjeksiyonSaatMaliyet;
                    <td enjeksiyon-cikar="@kalip.KalipId">
                        <div class="col-lg-12 mb-2">
                            <label>bir adet için üretim maliyeti:</label>
                            <div class="input-group mb-5">
                                <span class="input-group-text" event="MaliyetDetay" maliyetType="enjeksiyon" kalipId="@kalip.KalipId">
                                    <i class="flaticon-mark"></i>
                                </span>
                                <input kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat" value="@birAdetUrunUretimMaliyeti.ToString("N2")" />

                            </div>
                        </div>
                    </td>
                }
                catch (Exception ex)
                {
                    <td>
                        <div class="col-lg-12 mb-2">
                            <label>bir adet için üretim maliyeti:</label>
                            <div class="input-group mb-5">
                                <span class="input-group-text" event="MaliyetDetay" maliyetType="enjeksiyon" kalipId="@kalip.KalipId">
                                    <i class="flaticon-mark"></i>
                                </span>
                                <input kalipId="@kalip.KalipId" type="text" class="form-control" value="" />
                            </div>
                        </div>
                    </td>
                }

            }


        </tr>
        <tr>
            <td>Baskı Makina saati</td>
            @foreach (var kalip in Model)
            {
                <td baskiMakina-cikar="@kalip.KalipId">
                    <div class="col-lg-12 mb-2">
                        <label>aded maliyeti:</label>
                        <div class="input-group mb-5">
                            <span class="input-group-text" event="MaliyetDetay" maliyetType="baskiMakina" kalipId="@kalip.KalipId">
                                <i class="flaticon-mark"></i>
                            </span>
                            <input kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat" value="0" />
                            <span baskiMakina-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="baskiMakina" event="FaturadanCikar">
                                -
                            </span>
                        </div>
                    </div>
                </td>
            }
        </tr>
        <tr>
            <td>Montaj saati</td>
            @foreach (var kalip in Model)
            {
                try
                {
                    double PersonelSaatMaliyet = 35;
                    double SaatlikUretimAdet = 300;
                    double Maliyet = PersonelSaatMaliyet / SaatlikUretimAdet;
                    <td montaj-cikar="@kalip.KalipId">
                        <div class="col-lg-12 mb-2">
                            <label>aded maliyeti:</label>
                            <div class="input-group mb-5">
                                <span class="input-group-text" event="MaliyetDetay" maliyetType="montaj" kalipId="@kalip.KalipId">
                                    <i class="flaticon-mark"></i>
                                </span>
                                <input kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat" value="@Maliyet.ToString("N2")" />
                                <span montaj-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="montaj" event="FaturadanCikar">
                                    -
                                </span>
                            </div>
                        </div>
                    </td>
                }
                catch (Exception ex)
                {

                }

            }
        </tr>
        <tr>
            <td>Boya Kaplama saati</td>
            @foreach (var kalip in Model)
            {
                <td boyaKaplama-cikar="@kalip.KalipId">
                    <div class="col-lg-12 mb-2">
                        <label>aded maliyeti:</label>
                        <div class="input-group mb-5">
                            <span class="input-group-text" event="MaliyetDetay" maliyetType="boyaKaplama" kalipId="@kalip.KalipId">
                                <i class="flaticon-mark"></i>
                            </span>
                            <input kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat" value="0" />
                            <span boyaKaplama-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="boyaKaplama" event="FaturadanCikar">
                                -
                            </span>
                        </div>
                    </div>
                </td>
            }
        </tr>
    </tbody>
</table>
