@using EgePakErp.DtModels;

@model List<MaliyetDto>
@{
    var liste = Model.GroupBy(x => x.KalipId);
    var liste2 = Model.GroupBy(x => x.KalipId).ToList();
    foreach (var item in liste2)
    {
        var a = item;
    }

    double ToplamTutar = 0;
    double VadeliFiyat = 0;
    double nakitKatsayi = ViewBag.nakitKatsayi;
    double vadeliKatsayi = ViewBag.vadeliKatsayi;
    decimal DolarKur = ViewBag.dolarKur;
    decimal EuroKur = ViewBag.euroKur;
}


<tr class="sum">

    <td>
        <table>
            <tr>
                <td width="75%" style="border:none;">
                    Genel giderli Toplam Maliyet
                    <input type="text" class="form-control" value="1" disabled />
                </td>
            </tr>
        </table>
    </td>

    @foreach (var item in liste)
    {
        <td>
            <div class="form-group row">
                <div class="col-lg-12 mb-2" style="position: relative; top: 25px;">
                    @{
                        var tlToplam = item.Where(x => x.Status == true).Sum(x => x.Tutar);
                        var dolarToplam = (decimal)tlToplam / DolarKur;
                        var euroToplam = (decimal)tlToplam / EuroKur;
                    }
                    <input type="text" class="form-control GenelGiderSatisFiyat" KalipId="@item.FirstOrDefault().KalipId" value="@tlToplam.ToString("n3")" />

                    @*@dolarToplam.ToString("n3")<b>$</b>
                        <br />
                        @euroToplam.ToString("n3")<b>€</b>*@

                    @{ ToplamTutar += item.Sum(x => x.Tutar);}
                </div>
            </div>
        </td>
    }

</tr>

<tr class="sum">
    <td>
        <table>
            <tr>
                <td width="75%" style="border:none;">
                    Nakit Satış Fiyatı
                    <input type="text" class="form-control" id="NakitSatisKatsayi" value="@nakitKatsayi" />
                </td>
            </tr>
        </table>
    </td>
    @foreach (var item in liste)
    {
        <td>
            <div class="form-group row">
                <div class="col-lg-12 mb-2" style="position: relative; top: 25px;">
                    @{
                        var OrjinalFiyat = item
                            .Where(x => x.Status == true)
                            .Sum(x => x.Tutar);

                        var NakitFiyat = OrjinalFiyat * (1.25);
                    }

                    @{
                        var dolarToplam = (decimal)NakitFiyat / DolarKur;
                        var euroToplam = (decimal)NakitFiyat / EuroKur;
                    }
                    <input KalipId="@item.FirstOrDefault().KalipId" OrjinalFiyat="@OrjinalFiyat" type="text" class="form-control NakitSatisFiyat" value="@NakitFiyat.ToString("n3")" />

                </div>
            </div>
        </td>
    }

</tr>

<tr class="sum">
    <td>
        <table>
            <tr>
                <td width="75%" style="border:none;">
                    Vadeli Satış
                    <input type="text" class="form-control" id="VadeliSatisKatsayi" value="@vadeliKatsayi" />
                </td>


            </tr>
            <tr>
                <td width="75%" style="border:none;">
                    Vadeli Satış Usd
                    <input type="text" class="form-control" value="" disabled />
                </td>
            </tr>
            <tr>

                <td width="75%" style="border:none;">
                    Vadeli Satış Eur
                    <input type="text" class="form-control" value="" disabled />
                </td>
            </tr>
        </table>
    </td>
    @foreach (var item in liste)
    {
        <td>
            <div class="form-group row">
                <div class="col-lg-12 mb-2" style="position: relative; top: 25px;">
                    @{ VadeliFiyat = item.Where(x => x.Status == true).Sum(x => x.Tutar) * (1.25 * 1.4);}

                    @{
                        var dolarToplam = (decimal)VadeliFiyat / DolarKur;
                        var euroToplam = (decimal)VadeliFiyat / EuroKur;
                    }
                    <input KalipId="@item.FirstOrDefault().KalipId" EskiTutar="@VadeliFiyat.ToString("n3")" class="form-control VadeliSatisFiyatTl" value="@VadeliFiyat.ToString("n3")" />

                    <span class="p-2 pt-3 mt-2">
                        <input KalipId="@item.FirstOrDefault().KalipId" class="form-control VadeliSatisFiyatUsd" disabled value="@dolarToplam.ToString("n3")" />
                    </span>
                    <span class="p-2 pt-3 mt-2">
                        <input KalipId="@item.FirstOrDefault().KalipId" class="form-control VadeliSatisFiyatEur" disabled value="@euroToplam.ToString("n3")" />
                    </span>

                </div>
            </div>
        </td>
    }

</tr>
