@using EgepakErp.DtModels;

@model List<MaliyetDto>
@{
    var liste = Model.GroupBy(x => x.KalipId);
    double ToplamTutar = 0;
    decimal DolarKur = ViewBag.dolarKur;
}

<tr class="sum">
    <td>
        <table>
            <tr>
                <td width="75%" style="border:none;">
                    Genel giderli Toplam Maliyet
                    <input type="text" class="form-control" value="1" />
                </td>
            </tr>
        </table>
    </td>

    @foreach (var item in liste)
    {
        <td>
            <div class="form-group row">
                <div class="col-lg-12 mb-2" style="position: relative; top: 25px;">
                    @item.Sum(x => x.Tutar).ToString("n2") ₺
                    @{ ToplamTutar += item.Sum(x => x.Tutar);}
                </div>
            </div>
        </td>
    }

</tr>

<tr class="sum">
    <td>
        <table>
            <tr>
                <td width="75%" style="border:none;">
                    Nakit Satış Fiyatıs
                    <input type="text" class="form-control" value="1,25" />
                </td>
            </tr>
        </table>
    </td>
    @foreach (var item in liste)
    {
        <td>
            <div class="form-group row">
                <div class="col-lg-12 mb-2" style="position: relative; top: 25px;">
                    @{ var NakitFiyat = item.Sum(x => x.Tutar) * (1.25);}
                    @NakitFiyat.ToString("n2") ₺
                </div>
            </div>
        </td>
    }

</tr>
<tr class="sum">
    <td>
        <table>
            <tr>
                <td width="75%" style="border:none;">
                    Vadeli Satış
                    <input type="text" class="form-control" value="1,4" />
                </td>

            </tr>
        </table>
    </td>
    @foreach (var item in liste)
    {
        <td>
            <div class="form-group row">
                <div class="col-lg-12 mb-2" style="position: relative; top: 25px;">
                    @{ var VadeliFiyat = item.Sum(x => x.Tutar) * (1.4);}
                    @VadeliFiyat.ToString("n2") ₺
                </div>
            </div>
        </td>
    }

</tr>

<tr class="sum">
    <th>Teklif Tutar Tl</th>
    <th style="position: absolute; width: 100%; font-size: 15px;">@ToplamTutar.ToString("n2") ₺</th>
</tr>


<tr class="sum">
    <th>Teklif Tutar Usd</th>
    @{
        var DolarFiyat = (decimal)ToplamTutar / DolarKur;
    }
    <th colspan="@(liste.Count()+1)" style="position: absolute; width: 100%; font-size: 15px;">@DolarFiyat.ToString("n2") $</th>
</tr>