@using EgepakErp.Enums;

@model List<Kalip>
@{
    decimal malzemeToplamMaliyet = 0;
    decimal uretimToplamMaliyet = 0;
}

<table class="table table-bordered table-hover table-sm mt-8">
    <thead>
        <b>HAMMADDE &EK MALZEME MALİYETİ</b>
        <tr>
            <th>Plastik Üretim</th>
            @foreach (var kalip in Model)
            {
                <th>@kalip.Adi</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Hammadde</td>
            @foreach (var kalip in Model)
            {
                <td style="display:none;">
                    @{
                        var hammaddeCinsi = kalip.KalipHammaddeRelation.Select(i => i.HammaddeCinsi).FirstOrDefault();
                        var sonHammaddeHareket = hammaddeCinsi?.HammaddeHareket.OrderByDescending(i => i.HammaddeHareketId).FirstOrDefault();
                        var birimFiyat = sonHammaddeHareket?.BirimFiyat;
                        var FireOran = hammaddeCinsi?.HammaddeFire != null ? hammaddeCinsi.HammaddeFire.Oran : 1;
                        FireOran = (100 + FireOran) / 100;
                        int bolum = 1000;
                        decimal? birimMaliyet = birimFiyat != null ? ((birimFiyat * (decimal)FireOran) / bolum) * kalip.ParcaAgirlik : 0;
                        
                    }
                </td>

                if (kalip.isHazirMalzeme)
                {
                    var fiyat = BaseFiyat().FirstOrDefault(x => x.Kod == kalip.ParcaKodu);
                    decimal toplamTutar = fiyat.Tutar;
                    if (fiyat.DovizId != null && fiyat.DovizId != 1)
                    {
                        var kur = BaseKur(fiyat.Doviz.Kisaltma, DateTime.Now);
                        toplamTutar *= kur;
                    }
                    birimMaliyet = toplamTutar;
                }



                <td hammadde-cikar="@kalip.KalipId">
                    <div class="col-lg-12 mb-2">
                        <label>Birim Fiyat:</label>
                        <div class="input-group mb-5">
                            @if (!kalip.isHazirMalzeme)
                            {
                                <span class="input-group-text" event="MaliyetDetay" maliyetType="hammadde" kalipId="@kalip.KalipId">
                                    <i class="flaticon-mark"></i>
                                </span>
                            }

                            <input kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat" HesplamaType="malzeme" value="@birimMaliyet.Value.ToString("N2")" />
                            <span hammadde-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="hammadde" event="FaturadanCikar">
                                -
                            </span>
                        </div>
                    </div>

                    @if (kalip.isHazirMalzeme)
                    {
                        var fiyat = BaseFiyat().FirstOrDefault(x => x.Kod == kalip.ParcaKodu);

                        <div>
                            Fiyat = @fiyat.Tutar @fiyat.Doviz.Kisaltma
                        </div>
                    }
                </td>
                malzemeToplamMaliyet += (decimal)birimMaliyet;
            }
        </tr>
        <tr>
            <td>MasterBatch / Toz Boya</td>

            @foreach (var kalip in Model)
            {
                try
                {
                    if (!kalip.isHazirMalzeme)
                    {

                        var sabit = 0.0012;
                        decimal KalipAgirlik = (decimal)kalip.ParcaAgirlik;
                        decimal BoyaBirimFiyat = TozBoyaSonBirimFiyat() / 1000;
                        decimal Maliyet = (decimal)sabit * KalipAgirlik * (BoyaBirimFiyat / 1000);
                        <td tozBoya-cikar="@kalip.KalipId" HazirMalzemeMi="@kalip.isHazirMalzeme.ToString()">
                            <div class="col-lg-12 mb-2">
                                <label>bir adet için üretim maliyeti</label>
                                <div class="input-group mb-5">
                                    <span class="input-group-text" event="MaliyetDetay" maliyetType="tozBoya" kalipId="@kalip.KalipId">
                                        <i class="flaticon-mark"></i>
                                    </span>
                                    <input kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat" HesplamaType="malzeme" value="@Maliyet" />
                                    <span tozBoya-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="tozBoya" event="FaturadanCikar">
                                        -
                                    </span>
                                </div>
                            </div>
                        </td>
                        malzemeToplamMaliyet += Maliyet;
                    }

                }
                catch (Exception ex)
                {

                }

            }
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover table-sm mt-8">
    <thead>
        <tr>
            <th>Baskı</th>
            @foreach (var kalip in Model)
            {
                <th>@kalip.Adi</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sıcak Baskı Yaldız <br />Tampon Baskı Boya</td>
            @foreach (var kalip in Model)
            {
                try
                {
                    if (!kalip.isHazirMalzeme)
                    {
                        var SicakBaskiTamponSaatAdet = kalip.SicakBaskiAdet;
                        int adet = 0;
                        double birimSicakBaskiTamponMaliyet = 0;

                        double SicakBaskiTamponSaatMaliyet = 35;
                        if (SicakBaskiTamponSaatAdet != null && SicakBaskiTamponSaatAdet != "")
                        {
                            adet = Convert.ToInt32(SicakBaskiTamponSaatAdet);
                            birimSicakBaskiTamponMaliyet = SicakBaskiTamponSaatMaliyet / adet;
                        }

                        <td sicakBaski-cikar="@kalip.KalipId" HazirMalzemeMi="@kalip.isHazirMalzeme.ToString()">
                            <div class="col-lg-12 mb-2">
                                <label>birim sıcak baskı tampon maliyet:</label>
                                <div class="input-group mb-5">
                                    <span class="input-group-text" event="MaliyetDetay" maliyetType="sicakbaski" kalipId="@kalip.KalipId">
                                        <i class="flaticon-mark"></i>
                                    </span>
                                    <input kalipId="@kalip.KalipId" HesplamaType="malzeme" type="text" class="form-control birimFiyat" value="@birimSicakBaskiTamponMaliyet.ToString("N2")" />
                                    <span sicakBaski-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="sicakBaski" event="FaturadanCikar">
                                        -
                                    </span>
                                </div>
                            </div>
                        </td>
                        malzemeToplamMaliyet += (decimal)birimSicakBaskiTamponMaliyet;
                    }

                }
                catch (Exception ex)
                {

                }

            }


        </tr>
        <tr>
            <td>Intercom varak Yaldız</td>
            @foreach (var kalip in Model)
            {
                if (!kalip.isHazirMalzeme)
                {
                    List<HammaddeHareket> Malzemeler = YaldizMalzemeListe();
                    double BirimFiyat = Malzemeler.Count() != 0 ? Convert.ToDouble(Malzemeler.FirstOrDefault().BirimFiyat) : 0;

                    var birim = Malzemeler.FirstOrDefault()?.TableHammaddeBirim?.Birimi;
                    var Bolum = 10000;
                    if (birim == "RULO")
                    {
                        Bolum = 744200;
                    }

                    var yaldiz = kalip.Yaldiz;
                    int sabit = 0;
                    if (yaldiz != null && yaldiz != "")
                    {
                        sabit = Convert.ToInt32(yaldiz);
                    }

                    double Maliyet = (BirimFiyat * Convert.ToInt32(sabit)) / Bolum;


                    <td yaldiz-cikar="@kalip.KalipId" HazirMalzemeMi="@kalip.isHazirMalzeme.ToString()">
                        <div class="col-lg-12 mb-2">
                            <label>Intercom varak Yaldız:</label>
                            <div class="input-group mb-5">
                                <span class="input-group-text" event="MaliyetDetay" maliyetType="yaldiz" kalipId="@kalip.KalipId">
                                    <i class="flaticon-mark"></i>
                                </span>
                                <input kalipId="@kalip.KalipId" HesplamaType="malzeme" type="text" class="form-control birimFiyat" value="@Maliyet.ToString("n2")" />
                                <span yaldiz-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="yaldiz" event="FaturadanCikar">
                                    -
                                </span>
                            </div>
                        </div>
                    </td>
                    malzemeToplamMaliyet += (decimal)Maliyet;
                }

            }

        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover table-sm mt-8">
    <thead>
        <tr>
            <th>Boya Kaplama</th>
            @foreach (var kalip in Model)
            {
                <th>@kalip.Adi</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sprey Boya</td>
            @foreach (var kalip in Model)
            {
                if (!kalip.isHazirMalzeme)
                {
                    <td sprey-cikar="@kalip.KalipId" HazirMalzemeMi="@kalip.isHazirMalzeme.ToString()">
                        <div class="col-lg-12 mb-2">
                            <label>Maliyet:</label>
                            <div class="input-group mb-5">
                                <input kalipId="@kalip.KalipId" HesplamaType="malzeme" type="text" class="form-control birimFiyat" value="0" />
                                <span sprey-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="sprey" event="FaturadanCikar">
                                    -
                                </span>
                            </div>
                        </div>
                    </td>
                }

            }
        </tr>
        <tr>
            <td>Metalize Kaplama</td>
            @foreach (var kalip in Model)
            {
                if (!kalip.isHazirMalzeme)
                {
                    <td metalize-cikar="@kalip.KalipId" HazirMalzemeMi="@kalip.isHazirMalzeme.ToString()">
                        <div class="col-lg-12 mb-2">
                            <label>Maliyet:</label>
                            <div class="input-group mb-5">
                                <input kalipId="@kalip.KalipId" HesplamaType="malzeme" type="text" class="form-control birimFiyat" value="0" />
                                <span metalize-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="metalize" event="FaturadanCikar">
                                    -
                                </span>
                            </div>
                        </div>
                    </td>
                }

            }
        </tr>




    </tbody>
</table>

<table class="table table-bordered table-hover table-sm mt-8">
    <thead>
        <tr>
            <th>Ambalaj</th>
            @foreach (var kalip in Model)
            {
                <th>@kalip.Adi</th>
            }
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Koli + Koli Bandı</td>
            @foreach (var kalip in Model)
            {
                HammaddeHareket sonHareket = ViewBag.KoliSonHareket;
                decimal BantSonFiyat = BaseHammaddeHareketler("bant").OrderByDescending(x => x.HammaddeGirisTarihi).FirstOrDefault().BirimFiyat;
                var birimFiyat = sonHareket?.BirimFiyat;
                decimal sabit = 0.04M;
                var Kapasite = !string.IsNullOrEmpty(kalip.KoliIciAdet) ? Convert.ToInt32(kalip.KoliIciAdet) : 0;
                decimal? birimMaliyet;
                if (Kapasite != 0)
                {
                    birimMaliyet = birimFiyat != null ? (BantSonFiyat * sabit + birimFiyat) / Kapasite : 0;
                }
                else
                {
                    birimMaliyet = 0;
                }



                <input id="PosetParametre_@kalip.KalipId" type="hidden" value="0" />
                <td koli-cikar="@kalip.KalipId" HazirMalzemeMi="@kalip.isHazirMalzeme.ToString()">
                    <div class="col-lg-12 mb-2">
                        <label>Birim Fiyat:</label>
                        <div class="input-group mb-5">
                            <span class="input-group-text" event="MaliyetDetay" maliyetType="koli" kalipId="@kalip.KalipId">
                                <i class="flaticon-mark"></i>
                            </span>
                            <input kalipId="@kalip.KalipId" HesplamaType="malzeme" type="text" class="form-control birimFiyat" value="@birimMaliyet.Value.ToString("N5")" />
                            <span koli-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="koli" event="FaturadanCikar">
                                -
                            </span>
                        </div>
                    </div>
                </td>
                malzemeToplamMaliyet += (decimal)birimMaliyet;
            }
        </tr>
        <tr>
            <td>Poşet + Seperator</td>
            @foreach (var kalip in Model)
            {
                var birimFiyat = ViewBag.PosetSonBirimFiyat;
                decimal? birimMaliyet = birimFiyat != null ? (birimFiyat / 1500) * kalip.ParcaAgirlik : 0;

                <td poset-cikar="@kalip.KalipId" HazirMalzemeMi="@kalip.isHazirMalzeme.ToString()">
                    <div class="col-lg-12 mb-2">
                        <label>Birim Fiyat:</label>
                        <div class="input-group mb-5">
                            <span class="input-group-text" event="MaliyetDetay" maliyetType="poset" kalipId="@kalip.KalipId">
                                <i class="flaticon-mark"></i>
                            </span>
                            <input kalipId="@kalip.KalipId" HesplamaType="malzeme" mamulType="poset" type="text" class="form-control birimFiyat" value="@birimMaliyet.Value.ToString("N4")" />
                            <span poset-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="poset" event="FaturadanCikar">
                                -
                            </span>
                        </div>
                    </div>
                </td>
                malzemeToplamMaliyet += (decimal)birimMaliyet;
            }
        </tr>
    </tbody>
</table>

<hr />

<table class="table table-bordered table-hover table-sm mt-8">
    <thead>
        <tr>
            <th>Yan Sanayi Malzemeler</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.FirstOrDefault().KalipUrunRelation.FirstOrDefault().Urun.isPimUsed)
        {
            var pim = BaseHammaddeHareketler("pim").FirstOrDefault();
            decimal pimFiyat = 0;
            if (pim != null)
            {
                pimFiyat = pim.ToplamTutar;
            }
            var Maliyet = (pimFiyat / 1000) * (decimal)0.3;
            <tr>
                <td>Pim Maliyeti</td>
                <td yanMalzeme-cikar="pim">
                    <div class="col-lg-12 mb-2">
                        <label>Birim Fiyat:</label>
                        <div class="input-group mb-5">
                            @*<span class="input-group-text" event="MaliyetDetay" maliyetType="koli" kalipId="">
                                    <i class="flaticon-mark"></i>
                                </span>*@
                            <input HesplamaType="malzeme" type="text" class="form-control birimFiyat" value="@Maliyet" />
                        </div>
                    </div>
                </td>
            </tr>
        }

        @if (Model.FirstOrDefault().KalipUrunRelation.FirstOrDefault().Urun.isTutkalUsed)
        {
            var tutkal = BaseHammaddeHareketler("tutkal").FirstOrDefault();
            decimal tutkalFiyat = 0;
            if (tutkal != null)
            {
                tutkalFiyat = tutkal.ToplamTutar;
            }
            var Maliyet = (tutkalFiyat * (decimal)0.5) / 280;

            <tr>
                <td>Tutkal Maliyeti</td>
                <td tutkal-cikar="tutkal">
                    <div class="col-lg-12 mb-2">
                        <label>Birim Fiyat:</label>
                        <div class="input-group mb-5">
                            <input HesplamaType="malzeme" type="text" class="form-control birimFiyat" value="@Maliyet" />
                        </div>
                    </div>
                </td>
            </tr>

            var urun = Model.FirstOrDefault().KalipUrunRelation.FirstOrDefault().Urun;
            if (urun.UrunCinsi.Kisaltmasi == "RJ")
            {
                var silikonYagi = BaseHammaddeHareketler().FirstOrDefault(x => x.HammaddeCinsi.Kisaltmasi == "SİLİKON YAĞI");
                var tiner = BaseHammaddeHareketler().FirstOrDefault(x => x.HammaddeCinsi.Kisaltmasi == "TİNER");
                var yagFiyat = silikonYagi != null ? silikonYagi.BirimFiyat : 0;
                var tinerFiyat = tiner != null ? tiner.BirimFiyat : 0;
                var sonuc = (yagFiyat + tinerFiyat) / 1000;
                <tr>
                    <td>Tiner + Silikon Yağı</td>
                    <td tutkal-cikar="tutkal">
                        <div class="col-lg-12 mb-2">
                            <label>Maliyet:</label>
                            <div class="input-group mb-5">
                                <input HesplamaType="malzeme" type="text" class="form-control birimFiyat" value="@sonuc" />
                            </div>
                        </div>
                    </td>
                </tr>

            }
        }


        @{
            var urunId = ViewBag.urunId;
            var silikonYagUrunList = Model.FirstOrDefault().KalipUrunRelation.Where(x => x.Urun.UrunCinsi.Kisaltmasi == "RJ").Select(x => x.Urun);
            foreach (var item in silikonYagUrunList)
            {
                if (item.UrunId == urunId && item.isSilikonYagiUsed)
                {
                    var silikonYagi = BaseHammaddeHareketler("SİLİKON YAĞI").FirstOrDefault();
                    var tiner = BaseHammaddeHareketler("tiner").FirstOrDefault();

                    decimal silikonYagiFiyat = 0;
                    decimal tinerFiyat = 0;
                    if (silikonYagi != null && tiner != null)
                    {
                        silikonYagiFiyat = silikonYagi.BirimFiyat;
                        tinerFiyat = tiner.BirimFiyat;
                    }


                    if (item.UrunId == urunId && item.isTinerUsed == false)
                    {
                        tinerFiyat = 0;
                    }
                    var Maliyet = ((silikonYagiFiyat + tinerFiyat) / 1000) * (decimal)0.5;
                    <tr>
                        <td>
                            Silikon Yağı (@silikonYagiFiyat) + Tiner Maliyet (@tinerFiyat)
                        </td>
                        <td yanMalzeme-cikar="pim">
                            <div class="col-lg-12 mb-2">
                                <label>Birim Fiyat:</label>
                                <div class="input-group mb-5">
                                    <input HesplamaType="malzeme" type="text" class="form-control birimFiyat" value="@Maliyet" />
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            }

        }

    </tbody>
</table>


<div class="p-2">
    <b>Toplam Malzeme Maliyeti : <span id="ToplamMalzemeMaliyet">@malzemeToplamMaliyet.ToString("n4")</span>₺</b>
</div>

<hr />

<table class="table table-bordered table-hover table-sm mt-8">
    <thead>
        <tr>
            <th>Üretim Maliyeti</th>
            @foreach (var kalip in Model)
            {
                <th>@kalip.Adi</th>
            }
        </tr>
    </thead>
    <tbody id="MaliyetTablo">
        <tr>
            <td>Enjeksiyon - Şişirme <br /> Makine Saati</td>
            @foreach (var kalip in Model)
            {
                try
                {
                    double enjeksiyonSaatMaliyet = 100;
                    double birAdetUrunUretimMaliyeti = enjeksiyonSaatMaliyet / ((3600 / (int)kalip.UretimZamani) * (int)kalip.KalipGozSayisi);
                    <td enjeksiyon-cikar="@kalip.KalipId" HazirMalzemeMi="@kalip.isHazirMalzeme.ToString()">
                        <div class="col-lg-12 mb-2">
                            <label>bir adet için üretim maliyeti:</label>
                            <div class="input-group mb-5">
                                <span class="input-group-text" event="MaliyetDetay" maliyetType="enjeksiyon" kalipId="@kalip.KalipId">
                                    <i class="flaticon-mark"></i>
                                </span>
                                <input kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat" HesplamaType="uretim" value="@birAdetUrunUretimMaliyeti.ToString("N2")" />

                            </div>
                        </div>
                    </td>
                    uretimToplamMaliyet += (decimal)birAdetUrunUretimMaliyeti;
                }
                catch (Exception ex)
                {
                    <td>
                        <div class="col-lg-12 mb-2">
                            <label>bir adet için üretim maliyeti:</label>
                            <div class="input-group mb-5">
                                <span class="input-group-text" event="MaliyetDetay" maliyetType="enjeksiyon" kalipId="@kalip.KalipId">
                                    <i class="flaticon-mark"></i>
                                </span>
                                <input kalipId="@kalip.KalipId" type="text" class="form-control" value="0" />
                            </div>
                        </div>
                    </td>
                }

            }


        </tr>
        <tr>
            <td>Baskı Makina saati</td>
            @foreach (var kalip in Model)
            {
                <td baskiMakina-cikar="@kalip.KalipId" HazirMalzemeMi="@kalip.isHazirMalzeme.ToString()">
                    <div class="col-lg-12 mb-2">
                        <label>aded maliyeti:</label>
                        <div class="input-group mb-5">
                            <span class="input-group-text" event="MaliyetDetay" maliyetType="baskiMakina" kalipId="@kalip.KalipId">
                                <i class="flaticon-mark"></i>
                            </span>
                            <input kalipId="@kalip.KalipId" type="text" HesplamaType="uretim" class="form-control birimFiyat" value="0" />
                            <span baskiMakina-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="baskiMakina" event="FaturadanCikar">
                                -
                            </span>
                        </div>
                    </div>
                </td>
            }
        </tr>
        <tr>
            <td>Montaj saati</td>
            @foreach (var kalip in Model)
            {
                try
                {
                    double PersonelSaatMaliyet = 35;
                    var adet = !string.IsNullOrEmpty(kalip.EgePakMontajAdet) ? Convert.ToInt32(kalip.EgePakMontajAdet) : 0;
                    double Maliyet = 0;
                    if (adet != 0)
                    {
                        Maliyet = PersonelSaatMaliyet / adet;
                    }

                    <td montaj-cikar="@kalip.KalipId">
                        <div class="col-lg-12 mb-2">
                            <label>aded maliyeti:</label>
                            <div class="input-group mb-5">
                                <span class="input-group-text" event="MaliyetDetay" maliyetType="montaj" kalipId="@kalip.KalipId">
                                    <i class="flaticon-mark"></i>
                                </span>
                                <input kalipId="@kalip.KalipId" type="text" HesplamaType="uretim" class="form-control birimFiyat" value="@Maliyet.ToString("N2")" />
                                <span montaj-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="montaj" event="FaturadanCikar">
                                    -
                                </span>
                            </div>
                        </div>
                    </td>
                    uretimToplamMaliyet += (decimal)Maliyet;
                }
                catch (Exception ex)
                {

                }

            }
        </tr>
        <tr>
            <td>Ev Montaj</td>

            @foreach (var kalip in Model)
            {
                if (!string.IsNullOrEmpty(kalip.EvMontajMaliyet))
                {
                    <td evmontaj-cikar="@kalip.KalipId" HazirMalzemeMi="@kalip.isHazirMalzeme.ToString()">
                        <div class="col-lg-12 mb-2">
                            <label>maliyet:</label>
                            <div class="input-group mb-5">
                                <input kalipId="@kalip.KalipId" type="text" HesplamaType="uretim" class="form-control birimFiyat" value="@kalip.EvMontajMaliyet" />
                                <span evmontaj-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="evmontaj" event="FaturadanCikar">
                                    -
                                </span>
                            </div>
                        </div>
                    </td>
                }

            }
        </tr>
        <tr>
            <td>Boya Kaplama saati</td>
            @foreach (var kalip in Model)
            {
                <td boyaKaplama-cikar="@kalip.KalipId" HazirMalzemeMi="@kalip.isHazirMalzeme.ToString()">
                    <div class="col-lg-12 mb-2">
                        <label>aded maliyeti:</label>
                        <div class="input-group mb-5">
                            <span class="input-group-text" event="MaliyetDetay" maliyetType="boyaKaplama" kalipId="@kalip.KalipId">
                                <i class="flaticon-mark"></i>
                            </span>
                            <input kalipId="@kalip.KalipId" type="text" HesplamaType="uretim" class="form-control birimFiyat" value="0" />
                            <span boyaKaplama-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger input-group-text" KalipId="@kalip.KalipId" cikar-type="boyaKaplama" event="FaturadanCikar">
                                -
                            </span>
                        </div>
                    </div>
                </td>
            }
        </tr>
        <tr>

            <td class="p-3 m-2">
                <b>Toplam Üretim Maliyeti</b>
            </td>
            <td class="p-3 m-2" style="position: absolute; width: 80%; font-size: 15px; text-align: center;">
                <b id="ToplamUretimMaliyet">@uretimToplamMaliyet.ToString("n4")₺</b>
            </td>

        </tr>

    </tbody>
</table>
