@model List<Kalip>
@{
    var tdCounter = 0;
}

<table class="table table-bordered table-hover table-sm mt-8">
    <thead>
        <tr>
            <th>Ürün Adı</th>
            @foreach (var kalip in Model)
            {
                <th>@kalip.Adi</th>
            }
        </tr>
    </thead>
    <tbody id="MaliyetTablo">
        <tr>
            <td>Hammadde</td>
            @foreach (var kalip in Model)
            {
                <td>
                    <div class="form-group row">
                        <div class="col-lg-12 mb-2">
                            <label>Hammadde Cinsi:</label>
                            <select class="form-control ">
                                @foreach (var item in kalip.KalipHammaddeRelation.Select(i => i.HammaddeCinsi))
                                {
                                    <option id="@item.HammaddeCinsiId">@item.Adi</option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-12 mb-2">
                            <label>Birim Fiyat Tipi:</label>
                            <select class="form-control">
                                <option>Son Fatura Birim Fiyat</option>
                                <option>Son 1 Ay Ortalaması</option>
                                <option>Son 3 Ay Ortalaması</option>
                                <option>Son 6 Ay Ortalaması</option>
                                <option>Son 12 Ay Ortalaması</option>
                            </select>
                        </div>
                        <div class="col-lg-12 mb-2">
                            <label>Birim Fiyat:</label>
                            @{
                                var hammaddeCinsi = kalip.KalipHammaddeRelation.Select(i => i.HammaddeCinsi).FirstOrDefault();
                                var sonHammaddeHareket = hammaddeCinsi?.HammaddeHareket.OrderByDescending(i => i.HammaddeHareketId).FirstOrDefault();
                                var birimFiyat = sonHammaddeHareket?.BirimFiyat;
                                decimal? birimMaliyet = birimFiyat != null ? (birimFiyat / 1000) * kalip.ParcaAgirlik : 0;
                            }
                            <input maliyetType="malzeme" colSira="" kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat birimMaliyet_@kalip.KalipId" value="@birimMaliyet.Value.ToString("N2")" />
                        </div>

                    </div>

                </td>
                tdCounter++;
            }


        </tr>
        <tr>
            <td>Toz Boya Tutarı</td>

            @foreach (var kalip in Model)
            {
                try
                {
                    double sabit = 12.0 / 1000.0;
                    decimal KalipAgirlik = (decimal)kalip.ParcaAgirlik;
                    decimal KullanilanBoyaMiktar = Convert.ToDecimal(sabit) * KalipAgirlik;
                    decimal BoyaBirimFiyat = ViewBag.TozBoyaSonBirimFiyat / 1000;
                    decimal Maliyet = KalipAgirlik * KullanilanBoyaMiktar * BoyaBirimFiyat;
                    <td boya-cikar="@kalip.KalipId">
                        <button boya-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger float-right" onclick="FaturadanCikar(@kalip.KalipId,'boya')">+</button>
                        <div class="form-group row">
                            <div class="col-lg-12 mb-2">
                                <label>Kalıp Ağırlığı</label>
                                <input type="text" class="form-control" value="@KalipAgirlik.ToString("n2")" />
                            </div>
                            <div class="col-lg-12 mb-2">
                                <label>Kullanılan Boya Miktarı</label>
                                <input type="text" class="form-control" value="@KullanilanBoyaMiktar.ToString("n2")" />
                            </div>

                            <div class="col-lg-12 mb-2">
                                <label>bir adet için üretim maliyeti</label>
                                <input maliyetType="malzeme" kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat birimMaliyet_@kalip.KalipId" value="@Maliyet.ToString("n2")" />
                            </div>
                        </div>

                    </td>
                }
                catch (Exception ex)
                {

                }

            }


        </tr>

        <tr>
            <td>Koli</td>
            @foreach (var kalip in Model)
            {
                <td koli-cikar="@kalip.KalipId">
                    <button koli-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger float-right" onclick="FaturadanCikar(@kalip.KalipId,'koli')">+</button>
                    <div class="form-group row">
                        <div class="col-lg-12 mb-2">
                            <label>Koli Türü:</label>
                            <select class="form-control ">
                                @foreach (var item in baseHammaddeHareket(6634).Where(x => x.UrunAdi.ToLower().Contains("koli")))
                                {
                                    <option id="@item.HammaddeCinsiId">@(item.UrunAdi) (@item.BirimFiyat)</option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-12 mb-2">
                            @{
                                //EgepakErp.Helper.SonAylarFaturaHelper fHelper = new EgepakErp.Helper.SonAylarFaturaHelper(DateTime.Now.AddMonths(-1), DateTime.Now);
                                //var SonBirAyOrtalamasi = fHelper.Calculate();
                            }
                            <label>Birim Fiyat Tipi:</label>
                            <select class="form-control">
                                <option>Son Fatura Birim Fiyat</option>
                                <option>Son 1 Ay Ortalaması ()</option>
                                <option>Son 3 Ay Ortalaması</option>
                                <option>Son 6 Ay Ortalaması</option>
                                <option>Son 12 Ay Ortalaması</option>
                            </select>
                        </div>
                        <div class="col-lg-12 mb-2">
                            <label>Birim Fiyat:</label>
                            @{
                                var hammaddeCinsi = kalip.KalipHammaddeRelation.Select(i => i.HammaddeCinsi).FirstOrDefault();
                                var sonHammaddeHareket = hammaddeCinsi?.HammaddeHareket.OrderByDescending(i => i.HammaddeHareketId).FirstOrDefault();
                                var birimFiyat = sonHammaddeHareket?.BirimFiyat;
                                decimal? birimMaliyet = birimFiyat != null ? (birimFiyat / 1000) * kalip.ParcaAgirlik : 0;
                            }
                            <input maliyetType="malzeme" kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat birimMaliyet_@kalip.KalipId" value="@birimMaliyet.Value.ToString("N2")" />
                        </div>
                        <div class="col-lg-12 mb-2">
                            <label>Koli Kapasitesi:</label>
                            <input type="text" class="form-control" value="1500" />
                        </div>
                    </div>
                </td>

            }


        </tr>

        <tr>
            <td>Poşet</td>
            @foreach (var kalip in Model)
            {

                <td poset-cikar="@kalip.KalipId">
                    <button poset-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger float-right" onclick="FaturadanCikar(@kalip.KalipId,'poset')">+</button>
                    <div class="form-group row">
                        <div class="col-lg-12 mb-2">
                            <label>Poşet Türü:</label>
                            <select class="form-control ">
                                @foreach (var item in baseHammaddeHareket(6634).Where(x => x.UrunAdi.ToLower().Contains("poşet")))
                                {
                                    <option id="@item.HammaddeCinsiId">@(item.UrunAdi) (@item.BirimFiyat)</option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-12 mb-2">
                            <label>Birim Fiyat Tipi:</label>
                            <select class="form-control">
                                <option>Son Fatura Birim Fiyat</option>
                                <option>Son 1 Ay Ortalaması ()</option>
                                <option>Son 3 Ay Ortalaması</option>
                                <option>Son 6 Ay Ortalaması</option>
                                <option>Son 12 Ay Ortalaması</option>
                            </select>
                        </div>
                        <div class="col-lg-12 mb-2">
                            <label>Birim Fiyat:</label>
                            @{
                                var hammaddeCinsi = kalip.KalipHammaddeRelation.Select(i => i.HammaddeCinsi).FirstOrDefault();
                                var sonHammaddeHareket = hammaddeCinsi?.HammaddeHareket.OrderByDescending(i => i.HammaddeHareketId).FirstOrDefault();
                                var birimFiyat = sonHammaddeHareket?.BirimFiyat;
                                decimal? birimMaliyet = birimFiyat != null ? (birimFiyat / 1000) * kalip.ParcaAgirlik : 0;
                            }
                            <input maliyetType="malzeme" kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat birimMaliyet_@kalip.KalipId" value="@birimMaliyet.Value.ToString("N2")" />
                        </div>
                        <div class="col-lg-12 mb-2">
                            <label>Peşet Kapasitesi:</label>
                            <input type="text" class="form-control" value="1500" />
                        </div>
                    </div>
                </td>

            }


        </tr>
        <tr>
            <td>Intercom varak Yaldız</td>
            @foreach (var kalip in Model)
            {
                double BobinFiyat = 818.33;
                double Maliyet = (BobinFiyat * 40) / 10000;
                <td yaldiz-cikar="@kalip.KalipId">
                    <button yaldiz-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger float-right" onclick="FaturadanCikar(@kalip.KalipId,'yaldiz')">+</button>
                    <div class="form-group row">
                        <div class="col-lg-12 mb-2">
                            <label>Intercom varak Yaldız:</label>
                            <input maliyetType="uretim" kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat" value="@Maliyet.ToString("n2")" />
                        </div>
                    </div>
                </td>

            }


        </tr>

        <tr>
            <td>Enjeksiyon Makine Saati</td>

            @foreach (var kalip in Model)
            {
                try
                {
                    double enjeksiyonSaatMaliyet = 100;
                    double birAdetUrunUretimMaliyeti = (3600 / (int)kalip.UretimZamani) * (int)kalip.KalipGozSayisi / enjeksiyonSaatMaliyet;
                    <td>
                        <div class="form-group row">
                            <div class="col-lg-12 mb-2">
                                <label>enjeksiyon saat maliyet</label>
                                <input type="text" class="form-control" value="@enjeksiyonSaatMaliyet" />
                            </div>
                            <div class="col-lg-12 mb-2">
                                <label>bir adet için üretim maliyeti</label>
                                <input maliyetType="uretim" kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat birimMaliyet_@kalip.KalipId" value="@birAdetUrunUretimMaliyeti.ToString("N2")" />
                            </div>
                        </div>


                    </td>
                }
                catch (Exception ex)
                {
                    <td> asd</td>
                }

            }


        </tr>
        <tr>
            <td>Boya Metalize Kaplama</td>
            @foreach (var kalip in Model)
            {
                <td metalize-cikar="@kalip.KalipId">
                    <button metalize-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger float-right" onclick="FaturadanCikar(@kalip.KalipId,'metalize')">+</button>
                    <div class="form-group row">
                        <div class="col-lg-12 mb-2">
                            <label>Maliyet:</label>
                            <input maliyetType="uretim" kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat" value="" />
                        </div>
                    </div>
                </td>

            }


        </tr>
        <tr>
            <td>Sıcak baskı + tampon saat maliyeti</td>

            @foreach (var kalip in Model)
            {
                try
                {
                    double SicakBaskiTamponSaatAdet = 300;
                    double SicakBaskiTamponSaatMaliyet = 35;
                    double birimSicakBaskiTamponMaliyet = SicakBaskiTamponSaatMaliyet / SicakBaskiTamponSaatAdet;
                    <td sicakBaski-cikar="@kalip.KalipId">
                        <button sicakBaski-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger float-right" onclick="FaturadanCikar(@kalip.KalipId,'sicakBaski')">+</button>
                        <div class="form-group row">
                            <div class="col-lg-12 mb-2">
                                <label>sıcak baskı tampon saat adet</label>
                                <input type="text" class="form-control" value="@SicakBaskiTamponSaatAdet" />
                            </div>
                            <div class="col-lg-12 mb-2">
                                <label>birim sıcak baskı tampon maliyet</label>
                                <input maliyetType="uretim" kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat birimMaliyet_@kalip.KalipId" value="@birimSicakBaskiTamponMaliyet.ToString("N2")" />
                            </div>
                        </div>

                    </td>
                }
                catch (Exception ex)
                {

                }

            }


        </tr>

        <tr>
            <td>Montaj personel saati</td>

            @foreach (var kalip in Model)
            {
                try
                {
                    double PersonelSaatMaliyet = 35;
                    double SaatlikUretimAdet = 300;
                    double Maliyet = PersonelSaatMaliyet / SaatlikUretimAdet;
                    <td montaj-cikar="@kalip.KalipId">
                        <button montaj-cikar="@kalip.KalipId" class="btn btn-sm  btn-danger float-right" onclick="FaturadanCikar(@kalip.KalipId,'montaj')">+</button>
                        <div class="form-group row">
                            <div class="col-lg-12 mb-2">
                                <label>saatlik üretim adedi</label>
                                <input type="text" class="form-control" value="@SaatlikUretimAdet" />
                            </div>
                            <div class="col-lg-12 mb-2">
                                <label>aded maliyeti</label>
                                <input maliyetType="uretim" kalipId="@kalip.KalipId" type="text" class="form-control birimFiyat birimMaliyet_@kalip.KalipId" value="@Maliyet.ToString("N2")" />
                            </div>
                        </div>

                    </td>
                }
                catch (Exception ex)
                {

                }

            }


        </tr>

    </tbody>
</table>
