@model Siparis

@{
    ViewBag.Title = "Sipariş Formu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Siparis.css" rel="stylesheet" />
<!--begin::Subheader-->
<!--begin::Subheader-->
<div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">

    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-1 mr-5">Sipariş Formu</h5>
                <!--end::Page Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item">
                        <a href="/" class="text-muted">Anasayfa</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="" class="text-muted">Sipariş Formu</a>
                    </li>
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->

    </div>
</div>
<!--end::Subheader-->
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Dashboard-->
        <!--begin::Row-->
        <div class="row">
            <div class="flex-row-fluid ml-lg-8">
                <!--begin::Card-->
                <div class="card card-custom">
                    <!--begin::Header-->
                    <div class="card-header flex-wrap border-0 pt-6 pb-0">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-dark">Aşağıdaki formdan siparişinizi oluşturabilirsiniz</span>
                            <span class="text-muted mt-1 font-weight-bold font-size-sm"></span>
                        </h3>
                        <div class="card-toolbar">
                            <div class="dropdown dropdown-inline">
                                <!--begin::Trigger Modal-->
                                <a href="#" class="btn btn-success font-weight-bolder font-size-sm "
                                   event="siparisKaydet"
                                   id="siparisKaydet"
                                   siparisId="0"
                                   aria-haspopup="true" aria-expanded="false">Siparişi Kaydet</a>
                                <!--end::Trigger Modal-->
                            </div>
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <form id="sipForm">
                        <div class="card-body">
                            <div class="form-group row">
                                <input type="hidden" name="exclude" id="exclude" />
                                <input type="hidden" name="include" id="include" />
                                <div class="col-lg-12" id="UrunKaliplari">
                                </div>

                                <div class="col-lg-12" id="siparisSelectForm">
                                    @Html.HiddenFor(x => x.SiparisId)
                                    @if (Model.SiparisId == 0)
                                    {
                                        <input type="hidden" id="SiparisCariId" />

                                        <div class="form-group row">
                                            <label>Cari:</label>
                                            @{
                                                var cariList = BaseCari().ToList();
                                            }
                                            <select id="CariId" name="CariId" class="form-control select2" markup="Cari" placeHolder="Cari Seçiniz">
                                                @foreach (var c in cariList)
                                                {
                                                    <option value="@c.CariId">@c.Unvan (@c.MusteriNo)</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="form-group row">
                                            <label>Ürün Seçimi:</label>
                                            <select id="UrunId" name="UrunId" class="form-control select2" url="/Urun/ListeSelect2" markup="Urun" placeHolder="Ürün Seçiniz">
                                            </select>
                                        </div>

                                        <div class="form-group row">
                                            <label>Sipariş İsmi:</label>
                                            <input type="text" id="SiparisIsim" name="SiparisIsim" class="form-control" placeholder="İsim girin"/>
                                        </div>

                                        <div class="form-group row OzelSecim" style="display:none;" id="fircaDiv">
                                            <label>Fırça Seçimi:</label>
                                            <select id="SiparisFircaSelect" name="FircaId" class="form-control OzelSecimSelect" markup="Fırça" placeHolder="Fırça Seçiniz">
                                                <option value="0">Fırça Seçiniz</option>
                                                @foreach (var item in BaseFircaListe())
                                                {

                                                    <option value="@item.KalipId">@item.Adi</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="form-group row OzelSecim" style="display:none;" id="asansorDiv">
                                            <label>Asansör Seçimi:</label>
                                            <select id="SiparisAsansorSelect" name="AsansorId" class="form-control OzelSecimSelect" markup="Asansör" placeHolder="Asansör Seçiniz">
                                                <option value="0">Asansör Seçiniz</option>
                                                @foreach (var item in BaseKalipListe("ASANSÖR"))
                                                {
                                                    <option value="@item.KalipId">@item.Adi</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="form-group row OzelSecim" style="display:none;" id="rujTupDiv">
                                            <label>RUJ TÜPÜ Seçimi:</label>
                                            <select id="SiparisRujTupSelect" name="RujTupId" class="form-control OzelSecimSelect" markup="RUJ TÜPÜ" placeHolder="RUJ TÜPÜ Seçiniz">
                                                <option value="0">RUJ TÜPÜ Seçiniz</option>
                                                @foreach (var item in BaseKalipListe("RUJ TÜPÜ"))
                                                {
                                                    <option value="@item.KalipId">@item.Adi</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="form-group row OzelSecim" style="display:none;" id="helezonDiv">
                                            <label>Helezon Seçimi:</label>
                                            <select id="SiparisHelezonSelect" name="helezonId" class="form-control OzelSecimSelect" markup="HELEZON" placeHolder="Helezon Seçiniz">
                                                <option value="0">Helezon Seçiniz</option>
                                                @foreach (var item in BaseKalipListe("HELEZON"))
                                                {
                                                    <option value="@item.KalipId">@item.Adi</option>
                                                }
                                            </select>
                                        </div>


                                        <div class="form-group row">

                                            <div class="col-6">
                                                <label>Termin Tarihi:</label>
                                                <input class="form-control form-control-solid kt_datepicker_1" placeholder="Termin Tarihi" id="TerminTarihi" name="TerminTarihi" />
                                            </div>

                                            <div class="col-6">
                                                <label>Sipariş Adet:</label>
                                                <input type="number" placeholder="Sipariş Adet" id="SiparisAdet" class="form-control" />
                                            </div>

                                        </div>

                                        <div class="form-group row">
                                            <label>Kalıp Seçimi:</label>
                                            <select id="SiparisKalipSelect" name="KalipId" class="form-control select2" url="/Kalip/ListeSelect2" markup="Kalip" placeHolder="Kalıp Seçiniz">
                                            </select>
                                        </div>
                                    }
                                </div>

                                <div class="col-lg-6">
                                    @if (Model.SiparisId != 0)
                                    {
                                        @Html.HiddenFor(x => x.SiparisKod);
                                        @Html.HiddenFor(x => x.KayitTarihi)
                                        <input type="hidden" id="SiparisCariId" value="@Model.CariId" />

                                        @Html.HiddenFor(x => x.UrunId)
                                        @*<div class="form-group row" style="display:none;">

                                            <div class="col-4">
                                                <label>Termin Tarihi:</label>
                                                @Html.TextBoxFor(x => x.TerminTarihi, new { @class = "form-control form-control-solid kt_datepicker_1" })
                                            </div>

                                            <div class="col-4">
                                                <label>Sipariş Adet:</label>
                                                @Html.TextBoxFor(x => x.SiparisAdet, new { @class = "form-control" })
                                            </div>

                                            <div class="col-4">
                                                <label>Durum:</label>
                                                @{
                                                    var durumList = BaseSiparisDurum().ToList();
                                                    <select id="SiparisDurumId" name="SiparisDurumId" class="form-control">
                                                        @foreach (var durum in durumList)
                                                        {
                                                            <option value="@durum.SiparisDurumId">@durum.Durum</option>
                                                        }
                                                    </select>
                                                }
                                            </div>

                                        </div>*@
                                    }
                                </div>

                            </div>
                            @*<div class="row">
                                <div class="col-lg-12">
                                    <div class="p-2">Açıklama</div>
                                </div>
                                <div class="col-lg-12">
                                    @Html.TextAreaFor(x => x.Aciklama, new { @class = "summernote" })
                                </div>
                            </div>*@

                            <div class="form-group row">
                                <div class="col-lg-12" id="maliyetTablosu">
                                </div>

                                <div class="col-lg-12" id="TeklifTutarTablo">
                                    <input type="hidden" id="UsdKur" value="0" />
                                    <input type="hidden" id="EurKur" value="0" />
                                    <input type="hidden" id="NakitKatsayiTemp" value="0" />
                                    <input type="hidden" id="VadeliKatsayiTemp" value="0" />

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Teklif Tutar Tl</th>
                                                <th>Teklif Tutar Usd</th>
                                                <th>Teklif Tutar Eur</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input class="form-control" value="0" id="TeklifTutarTl" />
                                                </td>
                                                <td>
                                                    <input class="form-control" value="0" id="TeklifTutarUsd" />
                                                </td>
                                                <td>
                                                    <input class="form-control" value="0" id="TeklifTutarEur" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!--end::Body-->
                </div>
                <!--end::Card-->
            </div>
        </div>
        <!--end::Row-->
        <!--end::Dashboard-->
    </div>
    <!--end::Container-->


</div>
<!--end::Entry-->

@section Scripts{
    <script src="~/Scripts/Functions/HesapFuntions.js?v=@ScriptVersion"></script>
    <script src="~/Scripts/Siparis.js?v=@ScriptVersion"></script>
    <script src="~/Scripts/Yaldiz.js"></script>
    <script>

        //kur bilgisi çek
        Siparis.KurGetir("Usd");
        Siparis.KurGetir("Eur");


        // Read a page's GET URL variables and return them as an associative array.
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }


        $(document).ready(function () {
            debugger;
            var urunId = getUrlVars()["urunId"];
            var siparisId = getUrlVars()["siparisId"];
            if (siparisId !== undefined) {
                $("#siparisSelectForm").hide();
                $(document.getElementById("UrunId")).trigger("change");
                $("#siparisKaydet").attr("siparisId", siparisId);
                //siparişi getirme
                Post("/siparis/GetById",
                    { siparisId: siparisId },
                    function (data) {

                        data = jQuery.parseJSON(data);
                        var siparisAciklama = data.Aciklama;
                        var siparisCariId = data.CariId;
                        var nakitKatsayi = data.NakitKatsayi;
                        var vadeliKatsayi = data.VadeliKatsayi;

                        $("#NakitKatsayiTemp").val(nakitKatsayi);
                        $("#VadeliKatsayiTemp").val(vadeliKatsayi);

                        $("#SiparisCariId").val(siparisCariId);
                        $(".note-editable").html(siparisAciklama);
                        $("#pdfFile").show();

                        $("#pdfFile").attr("href", data.AciklamaPdf);
                        $("#SiparisPdfView").attr("pdfurl", data.AciklamaPdf);
                        $("#SiparisPdfView").show();

                        console.log("siparis açıklama :" + siparisAciklama);
                    },
                    function (x, y, z) {
                        //Error
                    },
                    function () {
                        //BeforeSend
                    },
                    function () {
                    },
                    "json");
            }

            var nakitGecici = $("#NakitKatsayiTemp").val();
            var vadeliGecici = $("#VadeliKatsayiTemp").val();

            $("#NakitSatisKatsayi").val(nakitGecici);
            $("#VadeliSatisKatsayi").val(vadeliGecici);

        })
        Siparis.EventInit();
        Global.init();
        SelectPickerRemote.init();
        Yaldiz.EventInit();
        KTBootstrapDatepicker.init();
        KTDropzoneDemo.PdfUpload("yaldiz");
    </script>

}
