@model List<Kalip>
@{ 
    Urun urun = ViewBag.urun;
}
<input type="hidden" id="kalipIdList" value="@Model.Select(s=>s.KalipId.ToString()).Aggregate((a,b)=>a+","+b)" />
<input type="hidden" id="UrunKisaltma" value="@urun.UrunCinsi.Kisaltmasi.ToLower()"/>

<table class="table table-bordered table-hover table-sm mt-8" id="KalipListeTable">
    <thead>
        <tr>
            <th>Parça Kodu</th>
            <th>Adı</th>
            <th>Hammadde</th>
            <th>Ağırlık(gr)</th>
            <th>Göz Sayısı</th>
            <th>Çevrim Süresi(sn)</th>
            <th>Parça Adı</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr KalipId="@item.KalipId">
                <td>@item.ParcaKodu</td>
                <td>@item.Adi</td>
                <td>@(item.KalipHammaddeRelation.FirstOrDefault()?.HammaddeCinsi?.Kisaltmasi)</td>
                <td>@item.ParcaAgirlik</td>
                <td>@item.KalipGozSayisi</td>
                <td>@item.UretimZamani</td>
                <td>
                    <input type="text" id="enj_renk_@item.KalipId" SiparisKalipId="@item.UretimSiparisKalipId" class="en_renk form-control" placeholder="Parça adı gir" value="@item.UretimParcaAdi"/>
                </td>
                <td>
                    <a href="#" class="btn btn-icon btn-danger mr-1" event="KalipListesindenCikar"> <i class="flaticon2-cancel-music"></i> </a>
                    <a class="btn btn-icon btn-info mr-1" formtitle="@item.ParcaKodu @item.Adi Düzenle" formid="kalipForm" formurl="/Kalip/Form" submiturl="/Kalip/Kaydet" event="kalipFormPopup" href="#" id="@item.KalipId" title="Hızlı Düzenle" data="" -="" toggle="tooltip" placement="top"> <i class="flaticon-edit"></i> </a>
                </td>
            </tr>
        }

    </tbody>
</table>
