@model IEnumerable<StokGirisHareket>


<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GirisTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GirisTarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>

        </tr>
    }

</table>
