@using EgePakErp.Enums;
@model UretimEmir
<!--begin::Form-->
<form id="UretimEmirForm">
    @Html.HiddenFor(x => x.UretimEmirId)

    <div class="form-group row">
        <div class="col-lg-12">
            <label>Sipariş:</label>
            @{
                var siparisler = BaseSiparis().Where(x => x.SiparisDurumId == (int)ESiparisType.Uretimde).ToList();
            }
            <select class="form-control" id="SiparisId" name="SiparisId">
                <option>Sipariş seçin</option>

                @foreach (var item in siparisler)
                {
                    var attr = item.SiparisId == Model?.SiparisKalip.SiparisId ? "selected" : "";
                    <option @attr value="@item.SiparisId" Adet="@item.SiparisAdet">@item.SiparisKod - (@item.Cari.Unvan)</option>
                }

            </select>
        </div>


        <div class="col-lg-12" id="SiparisKalipList" style="">
            @if (Model != null)
            {

                var siparisKaliplar = BaseSiparisKalipListe().Where(x => x.SiparisId == Model.SiparisKalip.SiparisId && x.MaliyetType == "hammadde");

                var liste = siparisKaliplar?.GroupBy(x => x.KalipKod).Select(x => new
                {
                    Kod = x.FirstOrDefault().KalipKod,
                    SiparisKalipId = x.FirstOrDefault().SiparisKalipId,
                    SiparisId = x.FirstOrDefault().SiparisId
                }).ToList();

                var kalipListe = BaseKalip().ToList();


                <label>Siparis Kalıpları:</label>
                <select class="form-control BitisHesaplama" id="SiparisKalipId" name="SiparisKalipId">
                    @foreach (var item in liste)
                    {
                        var kalip = kalipListe.FirstOrDefault(x => x.ParcaKodu == item.Kod);
                        var attr = item.SiparisKalipId == Model?.SiparisKalipId ? "selected" : "";
                        if (kalip != null)
                        {
                            <option @attr value="@(item.SiparisKalipId)">@(kalip.Adi)</option>
                        }

                    }
                </select>
            }

            else
            {

            }

        </div>

        <div class="col-lg-12">
            <label>Makine:</label>
            @{
                var makineler = BaseMakine().ToList();
            }
            <select class="form-control" id="MakineId" name="MakineId">
                @foreach (var item in makineler)
                {
                    var attr = item.MakineId == Model?.MakineId ? "selected" : "";
                    <option @attr value="@item.MakineId">@item.MakineAd</option>
                }
            </select>
        </div>




    </div>

    <div class="form-group row">
        <div class="col-lg-12">
            <label>Sipariş Adet:</label>
            @Html.TextBoxFor(x => x.SiparisAdet, new { @class = "form-control BitisHesaplama", @type = "number" })
        </div>
    </div>

    @*@if (Model != null)
        {
            <div class="form-group row">
                <div class="col-6">
                    <label>Başlangıç:</label>
                    @Html.TextBoxFor(x => x.Baslangic, new { @class = "form-control BitisHesaplama", autocomplete = "off" })
                </div>
                <div class="col-6">
                    <label>Bitiş: <span id="sonucDiv"></span></label>
                    @Html.TextBoxFor(x => x.Bitis, new { @class = "form-control", autocomplete = "off" })
                </div>
            </div>
        }*@


    <div class="form-group row">
        <div class="col-6">
            <label>Başlangıç:</label>
            @{
                var val = Model == null ? DateTime.Now : Model.Baslangic;
            }
            <input type="datetime-local" class="form-control BitisHesaplama" name="Baslangic"  value="@(Model?.Baslangic?.ToString("yyyy-MM-dd HH:mm"))"/>
            @*@Html.DateTimeLocal("Baslangic", val?.ToString("yyyy-MM-dd HH:mm"),"BitisHesaplama")*@

        </div>
        <div class="col-6">
            <label>Bitiş: <span id="sonucDiv"></span></label>
            @{
                val = Model == null ? DateTime.Now : Model.Bitis;
            }
            @Html.DateTimeLocal("Bitis", val?.ToString("yyyy-MM-dd HH:mm"))

        </div>
    </div>
    @if (Model != null)
    {

        @*<div class="form-group row">
                <label class="col-2 col-form-label">Enjeksiyon Bitti</label>
                <div class="col-2">
                    <span class="switch switch-outline switch-icon switch-success">
                        <label>
                            @{
                                var uretimChc = Model.isUretimBitti == true ? "checked" : "";
                            }
                            <input type="checkbox" @uretimChc name="isUretimBitti:CustomSwitch" id="isUretimBitti" />
                            <span></span>
                        </label>
                    </span>
                </div>
                @if (Model.isSicakBaskiBitti != null)
                {
                    <label class="col-2 col-form-label">Sıcak Baskı</label>
                    <div class="col-2">
                        <span class="switch switch-outline switch-icon switch-success">
                            <label>
                                @{
                                    var sicakbaskiChc = Model.isSicakBaskiBitti == true ? "checked" : "";
                                }
                                <input type="checkbox" @sicakbaskiChc name="isSicakBaskiBitti:CustomSwitch" id="isSicakBaskiBitti" />
                                <span></span>
                            </label>
                        </span>
                    </div>
                }

                @if (Model.isSpreyBoyaBitti != null)
                {
                    <label class="col-2 col-form-label">Spery Bitti</label>
                    <div class="col-2">
                        <span class="switch switch-outline switch-icon switch-success">
                            <label>
                                @{
                                    var speryChc = Model.isSpreyBoyaBitti == true ? "checked" : "";
                                }
                                <input type="checkbox" @speryChc name="isSpreyBoyaBitti:CustomSwitch" id="isSpreyBoyaBitti" />
                                <span></span>
                            </label>
                        </span>
                    </div>
                }

                @if (Model.isMetalizeBitti != null)
                {
                    <label class="col-2 col-form-label">Metalize Bitti</label>
                    <div class="col-2">
                        <span class="switch switch-outline switch-icon switch-success">
                            <label>
                                @{
                                    var metalizeChc = Model.isMetalizeBitti == true ? "checked" : "";
                                }
                                <input type="checkbox" @metalizeChc name="isMetalizeBitti:CustomSwitch" id="isMetalizeBitti" />
                                <span></span>
                            </label>
                        </span>
                    </div>
                }
                @if (Model.isMontajBitti != null)
                {

                    <label class="col-2 col-form-label">Montaj Bitti</label>
                    <div class="col-2">
                        <span class="switch switch-outline switch-icon switch-success">
                            <label>
                                @{
                                    var montajChc = Model.isMontajBitti == true ? "checked" : "";
                                }
                                <input type="checkbox" @montajChc name="isMontajBitti:CustomSwitch" id="isMontajBitti" />
                                <span></span>
                            </label>
                        </span>
                    </div>
                }
                @if (Model.isEvMontajBitti != null)
                {

                    <label class="col-2 col-form-label">Ev Montaj Bitti</label>
                    <div class="col-2">
                        <span class="switch switch-outline switch-icon switch-success">
                            <label>
                                @{
                                    var evMontajChc = Model.isEvMontajBitti == true ? "checked" : "";
                                }
                                <input type="checkbox" @evMontajChc name="isEvMontajBitti:CustomSwitch" id="isEvMontajBitti" />
                                <span></span>
                            </label>
                        </span>
                    </div>
                }


            </div>*@
    }

    @*<div class="form-group row">
            <div class="col-lg-12">
                <label>Durum:</label>
                @{
                    var durumlar = BaseUretimEmirDurum().ToList();
                    var durumList = Model != null ? Model.UretimEmirDurumList : "";
                    var durumId = Model != null ? Model.UretimEmirDurumId : 0;
                }
                <select class="form-control select2" id="UretimEmirDurumId" multiple="multiple" name="UretimEmirDurumId">
                    @foreach (var item in durumlar)
                    {
                        //var attr = item.UretimEmirDurumId == durumId ? "selected" : "";
                        var attr = durumList.Contains(item.UretimEmirDurumId.ToString()) ? "selected" : "";
                        <option @attr value="@item.UretimEmirDurumId">@item.Durum</option>
                    }
                </select>
            </div>
        </div>*@
    @{
        var visibleEvMontaj = Model?.KisiId != null ? "" : "display:none;";
    }
    <div class="form-group row" style="@visibleEvMontaj" id="evMontajDiv">
        <div class="col-lg-12">
            <label>Ev montaj kişisi seçin:</label>
            @{
                var kisiler = BaseMontajKisi().ToList();
                var kisiId = Model?.KisiId;
            }
            <select class="form-control select2" id="KisiId" name="KisiId">
                <option selected value="">Kişi Seçin</option>
                @foreach (var item in kisiler)
                {
                    var attr = item.KisiId == kisiId ? "selected" : "";
                    <option @attr value="@item.KisiId">@item.AdSoyad</option>
                }
            </select>
        </div>
    </div>


    @if (Model != null)
    {
        var yaldiz = BaseSiparisKalipListeQ().FirstOrDefault(x => x.KalipKod == Model.SiparisKalip.KalipKod && x.YaldizKodList != null);
        var tozBoyaKod = BaseSiparisKalipListeQ().FirstOrDefault(x => x.KalipKod == Model.SiparisKalip.KalipKod && x.TozBoyaKodId != null);
        var spreyBoyaKod = BaseSiparisKalipListeQ().FirstOrDefault(x => x.KalipKod == Model.SiparisKalip.KalipKod && x.SpreyBoyaKodId != null);
        <div class="form-group row">
            @if (yaldiz != null)
            {
                var yaldizIdList = yaldiz.YaldizKodList.Split(',');
                <label class="col-2 col-form-label">Yaldız dosyaları</label>
                <div class="col-10 row">
                    @if (yaldizIdList != null)
                    {
                        foreach (var id in yaldizIdList)
                        {
                            int _id = Convert.ToInt32(id);
                            var _yaldiz = BaseYaldiz().FirstOrDefault(x => x.YaldizId == _id);
                            if (_yaldiz != null)
                            {
                                var url = "https://crm.egepak.net" + _yaldiz.PdfYol;
                                <span class="switch switch-outline switch-icon switch-success mr-1">
                                    <label>
                                        <a href="#" class="btn btn-info webviewer" pdfurl="@_yaldiz.PdfYol">@_yaldiz.Aciklama</a>
                                        <span></span>
                                    </label>
                                </span>
                            }
                        }
                    }
                </div>


            }

            @if (tozBoyaKod != null)
            {
                <label class="col-2 col-form-label mt-1">Toz Boya kodu</label>
                <div class="col-10 mt-3">
                    <span class="switch switch-outline switch-icon switch-success">
                        <label>
                            @tozBoyaKod.TozBoyaKod.Kod
                            <span></span>
                        </label>
                    </span>
                </div>

            }

            @if (spreyBoyaKod != null)
            {
                <label class="col-2 col-form-label mt-1">Sprey Boya kodu</label>
                <div class="col-10 mt-3">
                    <span class="switch switch-outline switch-icon switch-success">
                        <label>
                            @spreyBoyaKod.SpreyBoyaKod.Kod
                            <span></span>
                        </label>
                    </span>
                </div>

            }


        </div>

    }

    @if (Model == null)
    {
        <div class="form-group row">
            <label class="col-2 col-form-label">Sıcak Baskı Yapılacak</label>
            <div class="col-2">
                <span class="switch switch-outline switch-icon switch-success">
                    <label>
                        <input type="checkbox" name="SicakBaskiYapilacak:CustomSwitch" id="SicakBaskiYapilacak" />
                        <span></span>
                    </label>
                </span>
            </div>

            <label class="col-2 col-form-label">Sprey Boya Yapılacak</label>
            <div class="col-2">
                <span class="switch switch-outline switch-icon switch-success">
                    <label>
                        <input type="checkbox" name="SpreyYapilacak:CustomSwitch" id="SpreyYapilacak" />
                        <span></span>
                    </label>
                </span>
            </div>

            <label class="col-2 col-form-label">Metalize Yapılacak</label>
            <div class="col-2">
                <span class="switch switch-outline switch-icon switch-success">
                    <label>
                        <input type="checkbox" name="MetalizeYapilacak:CustomSwitch" id="MetalizeYapilacak" />
                        <span></span>
                    </label>
                </span>
            </div>

            <label class="col-2 col-form-label">Montaj Yapılacak</label>
            <div class="col-2">
                <span class="switch switch-outline switch-icon switch-success">
                    <label>
                        <input type="checkbox" name="MontajYapilacak:CustomSwitch" id="MontajYapilacak" />
                        <span></span>
                    </label>
                </span>
            </div>

            <label class="col-2 col-form-label">Ev Montaj Yapılacak</label>
            <div class="col-2">
                <span class="switch switch-outline switch-icon switch-success">
                    <label>
                        <input type="checkbox" name="EvMontajYapilacak:CustomSwitch" id="EvMontajYapilacak" />
                        <span></span>
                    </label>
                </span>
            </div>
        </div>
    }

    @if (Model != null)
    {
        <div class="form-group row">
            <div class="col-lg-2">
                <label>Depoda Mı?</label>
                @{ 
                    var chk = Model?.DepodaMi == true ? "checked" : "";
                }
                @Html.Switcher("DepodaMi", chk)
            </div>
        </div>
        @*<div class="form-group row">
                <div class="col-lg-2">
                    <div>Önceki Süreçler:</div>
                </div>
                <div class="col-lg-10">
                    <a href="#" class="btn btn-primary" event="AksiyonEkle" UretimEmirId="@Model.UretimEmirId">Sonraki aşamaya geç</a>
                </div>
            </div>*@

        @*<div class="col-lg-12">

                <div class="timeline timeline-justified timeline-4">
                    <div class="timeline-bar"></div>
                    <div class="timeline-items">
                        @{
                            var aksiyonList = BaseAksiyon().Where(x => x.UretimEmirId == Model.UretimEmirId).ToList();
                            <div class="timeline-item">
                                <div class="timeline-badge">
                                    <div class="bg-danger"></div>
                                </div>

                                <div class="timeline-label">
                                    <span class="text-primary font-weight-bold">@(Model?.Baslangic.ToString("HH:mm"))</span>
                                </div>

                                <div class="timeline-content">
                                    Üretime Gönderildi
                                </div>
                            </div>
                            foreach (var aks in aksiyonList)
                            {
                                <div class="timeline-item">
                                    <div class="timeline-badge">
                                        <div class="bg-danger"></div>
                                    </div>

                                    <div class="timeline-label">
                                        <span class="text-primary font-weight-bold">@aks.AksiyonBaslangic.ToString("HH:mm")</span>
                                    </div>

                                    <div class="timeline-content">
                                        @aks.Aciklama (tip = @aks.AksiyonType.Aciklama)
                                    </div>
                                </div>
                            }

                            if (Model.UretimEmirDurumId == (int)EUretimEmirDurum.Tamamlandi)
                            {
                                <div class="timeline-item">
                                    <div class="timeline-badge">
                                        <div class="bg-success"></div>
                                    </div>

                                    <div class="timeline-label">
                                        <span class="text-primary font-weight-bold">@(aksiyonList.LastOrDefault()?.AksiyonBitis.ToString("HH:mm"))</span>
                                    </div>

                                    <div class="timeline-content">
                                        Tamamlandı
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>*@

        @*<div class="form-group row">
                <div class="col-lg-12">
                    <div>Üretim Aksiyon Ekle:</div>
                </div>
                <div class="col-lg-12">
                    <a href="#" class="btn btn-primary" event="UretimAksiyonFormPopup" UretimEmirId="@Model.UretimEmirId">Ekle</a>
                </div>
            </div>*@
    }


</form>
<!--end::Form-->
