@model UretimEmir
<!--begin::Form-->
<form id="UretimEmirForm">
    @Html.HiddenFor(x => x.UretimEmirId)

    <div class="form-group row">
        <div class="col-lg-12">
            <label>Sipariş:</label>
            @{
                var siparisler = BaseSiparis().ToList();

            }
            <select class="form-control" id="SiparisId" name="SiparisId">
                <option>Sipariş seçin</option>
                @foreach (var item in siparisler)
                {
                    <option value="@item.SiparisId">@item.SiparisAdi - (@item.Cari.Unvan)</option>
                }
            </select>
        </div>

        <div class="col-lg-12" id="SiparisKalipList" style="display:none;">

        </div>

        <div class="col-lg-12">
            <label>Makine:</label>
            @{
                var makineler = BaseMakine().ToList();
            }
            <select class="form-control" id="MakineId" name="MakineId">
                @foreach (var item in makineler)
                {
                    <option value="@item.MakineId">@item.MakineAd</option>
                }
            </select>
        </div>


    </div>
    <div class="form-group row">
        <div class="col-6">
            <label>Başlangıç:</label>
            @Html.TextBoxFor(x => x.Baslangic, new { @class = "form-control form-control-solid", @type = "datetime-local" })

        </div>
        <div class="col-6">
            <label>Bitiş:</label>
            @Html.TextBoxFor(x => x.Bitis, new { @class = "form-control form-control-solid", @type = "datetime-local" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-12">
            <label>Durum:</label>
            @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-12">
            <label>Sipariş Adet:</label>
            @Html.TextBoxFor(x => x.SiparisAdet, new { @class = "form-control", @type = "number" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-12">
            <label>Üretilen Adet:</label>
            @Html.TextBoxFor(x => x.UretilenAdet, new { @class = "form-control", @type = "number" })
        </div>
    </div>



</form>
<!--end::Form-->
