@using EgePakErp.HtmlHelpers;
@model SiparisTeklifForm

<!--begin::Form-->
<form id="TeklifFormForm">
    @Html.HiddenFor(x => x.SiparisTeklifFormId)

    <div class="form-group row">
        <div class="col-lg-12">
            <label>Açıklama:</label>
            @Html.SummerNote("Aciklama")
        </div>
    </div>

    <div class="form-group row">
        <div class="col-12">
            <label>Cari:</label>
            @{
                var cariList = BaseCari().ToList();

            }
            <select id="CariId" name="CariId" class="form-control select2" markup="Cari" placeHolder="Cari Seçiniz">
                <option></option>
                @foreach (var c in cariList)
                {
                    var attr = Model?.CariId == c.CariId ? "selected" : "";
                    <option @attr value="@c.CariId">@c.Unvan (@c.MusteriNo)</option>
                }
            </select>
        </div>

    </div>

    <div id="kt_repeater_1">
        <div class="form-group row" id="kt_repeater_1">
            <label>Ürünler:</label>
            <div data-repeater-list="" class="col-lg-12">
                <div data-repeater-item class="form-group row align-items-center">
                    @if (Model?.SiparisTeklifFormUrun.Count() > 0)
                    {
                        foreach (var item in Model.SiparisTeklifFormUrun)
                        {
                            <div class="col-md-3">
                                <label>Kod:</label>
                                <input type="text" class="form-control" name="SiparisTeklifFormUrun[Kod]" value="@item.Kod" placeholder="ürün kodu girin" />
                                <div class="d-md-none mb-2"></div>
                            </div>
                            <div class="col-md-3">
                                <label>Urun Adı:</label>
                                <input type="email" class="form-control" name="SiparisTeklifFormUrun[UrunAdi]" value="@item.UrunAdi" placeholder="ürün adı girin" />
                                <div class="d-md-none mb-2"></div>
                            </div>

                            <div class="col-md-3">
                                <label>Birim Fiyat:</label>
                                <input type="text" class="form-control" name="SiparisTeklifFormUrun[Teklif]" value="@item.Teklif" placeholder="birim fiyat girin" />
                                <div class="d-md-none mb-2"></div>
                            </div>

                            <div class="col-md-3">
                                <a href="javascript:;" data-repeater-delete="" class="btn btn-sm font-weight-bolder btn-light-danger">
                                    <i class="la la-trash-o"></i> Sil
                                </a>
                            </div>

                        }

                    }
                    else
                    {
                        <div class="col-md-3">
                            <label>Kod:</label>
                            <input type="text" class="form-control" name="SiparisTeklifFormUrun[Kod]" placeholder="ürün kodu girin" />
                            <div class="d-md-none mb-2"></div>
                        </div>
                        <div class="col-md-3">
                            <label>Urun Adı:</label>
                            <input type="email" class="form-control" name="SiparisTeklifFormUrun[UrunAdi]" placeholder="ürün adı girin" />
                            <div class="d-md-none mb-2"></div>
                        </div>
                        <div class="col-md-3">
                            <label>Birim Fiyat:</label>
                            <input type="text" class="form-control" name="SiparisTeklifFormUrun[Teklif]" placeholder="birim fiyat girin" />
                            <div class="d-md-none mb-2"></div>
                        </div>

                        <div class="col-md-3">
                            <a href="javascript:;" data-repeater-delete="" class="btn btn-sm font-weight-bolder btn-light-danger">
                                <i class="la la-trash-o"></i> Sil
                            </a>
                        </div>
                    }


                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-12 col-form-label text-right"></label>
            <div class="col-lg-4">
                <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                    <i class="la la-plus"></i> Ürün Ekle
                </a>
            </div>
        </div>
    </div>

    <div class="form-group row">

        <div class="col-lg-4">
            <label>Gönderen:</label>
            @{
                string gonderen = !string.IsNullOrEmpty(Model?.Gonderen) ? Model.Gonderen : "EGEPAK PLST. KOZ. SAN.TİC.LTD.ŞTİ.";
            }
            <input type="text" class="form-control" name="Gonderen" id="Gonderen" value="@gonderen" />
        </div>

        <div class="col-lg-4">
            <label>Gönderen Eposta:</label>
            @{
                string gonderenPosta = !string.IsNullOrEmpty(Model?.GonderenEposta) ? Model.GonderenEposta : "egepak@egepak.net";
            }
            <input type="text" class="form-control" name="GonderenEposta" id="GonderenEposta" value="@gonderenPosta" />
        </div>

        <div class="col-lg-4">
            <label>Gönderen Telefon:</label>
            @{
                string gonderenTel = !string.IsNullOrEmpty(Model?.GonderenTel) ? Model.GonderenTel : "+90 216 365 89 83 - fx :84";
            }
            <input type="text" class="form-control" name="GonderenTel" id="GonderenTel" value="@gonderenTel" />
        </div>

    </div>

    <div class="form-group row">

        <div class="col-lg-4">
            <label>Alan:</label>
            @Html.TextBoxFor(x => x.Alan, new { @class = "form-control" })
        </div>

        <div class="col-lg-4">
            <label>Alan Eposta:</label>
            @Html.TextBoxFor(x => x.AlanEposta, new { @class = "form-control" })
        </div>

        <div class="col-lg-4">
            <label>Gönderen Bilgi:</label>
            @Html.TextBoxFor(x => x.AlanBilgi, new { @class = "form-control" })
        </div>

    </div>

    <div class="form-group row">

        <div class="col-lg-6">
            <label>Personel Ad:</label>
            @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
        </div>

        <div class="col-lg-6">
            <label>Personel Unvan:</label>
            @Html.TextBoxFor(x => x.PersonelUnvan, new { @class = "form-control" })
        </div>

    </div>

    <div class="form-group row">
        <div class="col-lg-6">
            <label>Teslim Tarihi:</label>
            @Html.DateTimePicker("TeslimTarihi")
        </div>

        <div class="col-lg-6">
            <label>Döviz:</label>
            @{
                var DovizList = baseDoviz;
                int dId = Model?.DovizId != null ? Model.DovizId : 0;
            }
            <select name="DovizId" id="DovizId" class="form-control">
                @foreach (var item in DovizList)
                {
                    string attr = item.DovizId == dId ? "selected" : "";
                    <option value="@item.DovizId" @attr>
                        @item.Adi
                    </option>
                }
            </select>
        </div>

    </div>

</form>
<!--end::Form-->
