@using EgePakErp.HtmlHelpers;
@model SiparisTeklifForm

<!--begin::Form-->
<form id="TeklifFormForm">
    @Html.HiddenFor(x => x.SiparisTeklifFormId)

    <div class="form-group row">
        <div class="col-lg-12">
            <label>Açıklama:</label>
            @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-12">
            <label>Cari:</label>
            @{
                var cariList = BaseCari().Where(x => x.MusteriNo != null).ToList();

            }
            <select id="CariId" name="CariId" class="form-control select2" markup="Cari" placeHolder="Cari Seçiniz">
                <option></option>
                @foreach (var c in cariList)
                {
                    var attr = Model?.CariId == c.CariId ? "selected" : "";
                    <option @attr value="@c.CariId">@c.Unvan (@c.MusteriNo)</option>
                }
            </select>
        </div>

    </div>

    <div id="kt_repeater_1">
        <div class="form-group row" id="kt_repeater_1">
            <label>Ürünler:</label>
            <div data-repeater-list="" class="col-lg-12">
                <div data-repeater-item class="form-group row align-items-center">
                    <div class="col-md-3">
                        <label>Kod:</label>
                        <input type="text" class="form-control" name="UrunList[Kod]" placeholder="ürün kodu girin" />
                        <div class="d-md-none mb-2"></div>
                    </div>
                    <div class="col-md-3">
                        <label>Urun Adı:</label>
                        <input type="email" class="form-control" name="UrunList[UrunAdi]" placeholder="ürün adı girin" />
                        <div class="d-md-none mb-2"></div>
                    </div>
                    <div class="col-md-3">
                        <label>Birim Fiyat:</label>
                        <input type="text" class="form-control" name="UrunList[Teklif]" placeholder="birim fiyat girin" />
                        <div class="d-md-none mb-2"></div>
                    </div>
                    

                    <div class="col-md-3">
                        <a href="javascript:;" data-repeater-delete="" class="btn btn-sm font-weight-bolder btn-light-danger">
                            <i class="la la-trash-o"></i> Sil
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-12 col-form-label text-right"></label>
            <div class="col-lg-4">
                <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                    <i class="la la-plus"></i> Ürün Ekle
                </a>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-12">
            <label>Alıcı E-Posta:</label>
            @Html.TextBoxFor(x => x.Eposta, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-12">
            <label>Alıcı Ad Soyad:</label>
            @Html.TextBoxFor(x => x.GonderilenAdSoyad, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-12">
            <label>Minimum Sipariş Adedi:</label>
            @Html.TextBoxFor(x => x.MinSiparisAdet, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-12">
            <label>Ödeme:</label>
            @Html.TextBoxFor(x => x.Odeme, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-12">
            <label>Teslim Tarihi:</label>
            @Html.DateTimePicker("TeslimTarihi")
        </div>
    </div>

</form>
<!--end::Form-->
