@model Kalip
<!--begin::Form-->
<form id="kalipForm">
    <input type="hidden" name="KalipId" value="@(Model?.KalipId)" />

    <div class="form-group row">
        <div class="col-lg-4">
            <label>Adı</label>
            <input class="form-control" name="Adi" type="text" value="@(Model?.Adi)">
        </div>
        <div class="col-lg-4">
            <label>Kalıp No:</label>
            <input class="form-control" name="KalipNo" type="text" value="@(Model?.KalipNo)">
        </div>
        <div class="col-lg-4">
            <label>Parça Özellik İlave Plaka</label>
            <input class="form-control" name="KalipOzellik" type="text" value="@(Model?.KalipOzellik)">
        </div>

    </div>

    <div class="form-group row">
        <div class="col-lg-4">
            <label>Parça Ağırlık(gr):</label>
            <input class="form-control" name="ParcaAgirlik" type="text" value="@(Model?.ParcaAgirlik)">
        </div>
        <div class="col-lg-4">
            <label>Kalıp Göz Sayısı</label>
            <input class="form-control" name="KalipGozSayisi" type="text" value="@(Model?.KalipGozSayisi)">
        </div>
        <div class="col-lg-4">
            <label>Üretim Süresi(sn)</label>
            <input class="form-control" name="UretimZamani" type="text" value="@(Model?.UretimZamani)">
        </div>
    </div>


    <div class="form-group row">
        <div class="col-lg-12">
            <label>Kullandığı Hammaddeler:</label>
            <select name="HammaddeList[]" class="form-control form-control-solid selectpicker" data-actions-box="true" multiple data-live-search="true" id="HammaddeList">
                @foreach (var item in baseHammaddeCinsi)
                {
                    var slc = "";
                    if (Model != null && Model.KalipHammaddeRelation != null && Model.KalipHammaddeRelation.Count() > 0)
                    {
                        slc = Model.KalipHammaddeRelation.Select(i => i.HammaddeCinsiId).Contains(item.HammaddeCinsiId) ? "selected" : "";
                    }
                    <option @slc value="@item.HammaddeCinsiId">@item.Adi</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-12">
            <label>Kullanıldığı Ürünler:</label>
            <select name="UrunList[]" class="form-control form-control-solid selectpicker" data-actions-box="true" multiple data-live-search="true" id="UrunList">

                @foreach (var item in baseUrun)
                {
                    var slc = "";
                    if (Model != null && Model.KalipUrunRelation != null && Model.KalipUrunRelation.Count() > 0)
                    {
                        slc = Model.KalipUrunRelation.Select(i => i.UrunId).Contains(item.UrunId) ? "selected" : "";
                    }
                    <option @slc value="@item.UrunId">@(item.UrunCinsi.Kisaltmasi+item.UrunNo)</option>
                }

            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-12">
            <label>Üretim Temin Şekli:</label>
            @{
                var teminSekiller = baseUretimTeminSekli;
            }
            <select name="UretimTeminSekliId" id="UretimTeminSekliId" class="form-control">
                @foreach (var item in teminSekiller)
                {
                    var attr = item.UretimTeminSekliId == Model?.UretimTeminSekliId ? "selected" : "";
                    <option @attr value="@item.UretimTeminSekliId">@item.Adi</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-4">
            <label>Yolluk Tipi:</label>
            <input class="form-control" name="YollukTipi" type="text" value="@(Model?.YollukTipi)">
        </div>
        <div class="col-lg-4">
            <label>Yolluk Ağırlık</label>
            <input class="form-control" name="YollukAgirlik" type="text" value="@(Model?.YollukAgirlik)">
        </div>
        <div class="col-lg-4">
            <label>Kalıp Etiket</label>
            <input class="form-control" name="KalipEtiket" type="text" value="@(Model?.KalipEtiket)">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-4">
            <label>Hammadde Formül:</label>
            @Html.TextBoxFor(x => x.HammaddeFormul, new { @class = "form-control" })
        </div>
        <div class="col-lg-4">
            <label>Yaldız Katsayı:</label>
            @Html.TextBoxFor(x => x.Yaldiz, new { @class = "form-control" })
        </div>

        <div class="col-lg-4">
            <label>Koli içi adet:</label>
            @Html.TextBoxFor(x => x.KoliIciAdet, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-6">
            <label>Sıcak baskı adet:</label>
            @Html.TextBoxFor(x => x.SicakBaskiAdet, new { @class = "form-control" })
        </div>
        <div class="col-lg-6">
            <label>Egepak montaj adet:</label>
            @Html.TextBoxFor(x => x.EgePakMontajAdet, new { @class = "form-control" })
        </div>

        <div class="col-lg-6">
            <label>Ev montaj maliyet:</label>
            @Html.TextBoxFor(x => x.EvMontajMaliyet, new { @class = "form-control" })
        </div>

        <div class="col-lg-6">
            <label>Kromplast Metalize br fiyat:</label>
            @Html.TextBoxFor(x => x.KromPlastMetalizeBrFiyat, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-6">
            <label>Öncelik Makine:</label>
            @Html.TextBoxFor(x => x.OncelikMakine, new { @class = "form-control" })
        </div>
        <div class="col-lg-6">
            <label>Alternatif Makine:</label>
            @Html.TextBoxFor(x => x.AlternatifMakine, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <label>Açıklama:</label>
            <textarea class="form-control" name="Aciklama">@Html.Raw(Model?.Aciklama)</textarea>
        </div>
    </div>



</form>
<!--end::Form-->
